/* Bootstrap + WP bug… :( */
#adminmenuback {
	z-index: 0;
}
.hidden {
	visibility: inherit;
}
.container:before,
.container:after {
  display: table;
  content: "";
}
.container:after {
  clear: both;
}

.nav > li > a { display: block; }

#spb_content h1, #spb_content h2, #spb_content h3, #spb_content h4, #spb_content h5, #spb_content h6 {
	font-weight: bold;
	font-family: inherit;
	padding: 0;
	color: inherit;
	line-height: inherit;
	border: none;
	background: none;
	text-shadow: none;
	box-shadow: none;
	cursor: default;
	margin-top: 0;
	margin-bottom: 0.67em;
}
#spb_content h1 {
	font-size: 2em;
}
#spb_content h2 {
	font-size: 1.5em;
}
#spb_content h3 {
	font-size: 1.17em;
}
#spb_content h4 {
	font-size: 1em;
}
#spb_content h5 {
	font-size: 0.9em;
}
#spb_content h6 {
	font-size: 0.85em;
}

img[class*="align"], img[class*="wp-image-"], #content .gallery .gallery-icon img {
	padding: 6px;
}
	img.alignleft, img.alignright, img.aligncenter {
		margin-bottom: 0.5em;
	}
	.alignleft {
		margin-right: 0.5em;
	}
	.alignright {
		margin-left: 0.5em;
	}
/**************************/

.page-builder-switch {
	height: 17px;
}

.row-fluid div.spb_first, .row-fluid [class*="span12"] {
	margin-left: 0;
	clear: both;
}

#spb_content,
#spb_edit_form {
	padding-top: 27px;
	padding-bottom: 20px;
	min-height: 210px;
}
	#spb_edit_form {
		display: none;
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.8);
		top: 0;
		left: 0;
		z-index: 9999;
	}
	
	#spb_edit_form .row-fluid {
		margin-bottom: 2em;
	}
	#spb_edit_form span.description {
		display: block;
		margin-top: 0.5em;
	}
#edit-modal-header {
	background: #f7f7f7;
	border-bottom: 1px solid #e4e4e4;
	margin: -20px -20px 20px;
	padding: 22px 15px;
	border-radius: 3px 3px 0 0;
	height: auto;
	overflow: hidden;
	width: 810px;
}
#edit-modal-header h2 {
	float: left;
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 24px;
}
.edit_form_actions {
	float: right;
}
.spb_element_label {
	font-weight: bold;
}
.spb_edit_form_elements {
	width: 800px;
	margin: 5% auto;
	padding: 20px;
	background: #fff;
	border-radius: 3px;
	height: 80%;
	max-height: 650px;
}
.spb_edit_wrap {
	overflow-y: scroll;
	height: 81%;
	padding: 20px;
	margin: 0 -10px;
}
#cancel-background-options {
	float: left;
	margin-right: 15px;
	text-decoration: none;
	display: block;
	line-height: 30px;
	color: #666;
}
#cancel-background-options:hover {
	color: #333;
}
.wp-core-ui .spb_save_edit_form {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #212121!important;
	color: #ccc!important;
	box-shadow: none!important;
	padding: 5px 12px;
	display: block;
	line-height: 20px;
	height: auto;
	border: 0!important;
	float: left;
}
.spb_edit_form_elements .wp-editor-wrap .wp_themeSkin iframe {
	background: #ffffff;
}
.spb_edit_form_elements h2 {
	margin-top: 0!important;
}
#TB_window {
	z-index: 9999;
}
.spb_element_wrapper {
	border: 1px solid #e3e3e3;
	background-color: #f7f7f7;
	position: relative;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 1em 1em 0 1em;
	min-height: 19px;
}
.spb_column > .spb_element_wrapper, .spb_tabs > .spb_element_wrapper, .spb_tour > .spb_element_wrapper, .spb_accordion > .spb_element_wrapper {
	padding: 1em 1em 1em 1em;
}
.impact_text .spb_element_wrapper {
	min-height: 30px;
}
.row-fluid .spb_content_element:last-child {
	margin-bottom: 0;
}
.spb_content_element, .spb_column {
	margin-bottom: 20px;
}
.spb_column_container {
	min-height: 58px;
}
#spb_content p {
	margin-top: 0;
}
.textarea_html .span12 {
	width: auto;
	margin: 0;
}
.textarea_html .span12 .spb_element_wrapper {
	background: none;
	border: none;
}
.textarea_html .controls {
	display: none;
}
.textarea_html img {
	height: auto;
}

/* Sortable
---------------------------------------------------------- */
.widgets-placeholder {
	background: url(../img/pb-placeholder-pattern.gif);
	display: inline;
	float: left;
	position: relative;
	margin: 0 0 20px 0;
	padding: 0;
}
.row-fluid [class="widgets-placeholder"]:nth-child(2) {
    margin-left: 0;
}

/* Drag placeholder
---------------------------------------------------------- */
.column_placeholder {
	width: 120px;
	background: #FEFFAF;
	font-size: 0.9em;
	text-align: center;
	padding: 5px 10px 8px 5px;
	border: 1px dashed #bbbbbb;
}

.spb_ui-state-active,
div.spb_ui-state-active { background: #f7f7f7f; opacity: 0.8; }

/* Nav bar
---------------------------------------------------------- */
#spb-elements {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	margin: 0;
}
#spb-elements.subnav-fixed {
	position: fixed;
	top: 28px;
	z-index: 99;
}
#spb-elements.subnav-fixed .nav.pull-right {
	float: left;
}
.navbar .brand {
	width: 145px;
	height: 10px;
	float: right;
	padding: 0 0 12px 0;
	margin-top: 0;
}
#spb-elements ul.nav {
	padding-right: 10px;
	margin-right: 0;
	height: 34px;
}
#spb-elements ul.nav.pull-right {
	padding-right: 10px;
	border-right: 0;
}
#spb-elements .dropdown .caret {
	display: none;
}
#spb-elements .spb_columns {
	background: #fff url(../img/editor_icons/PB_Nav_add_columns.png) no-repeat 10px center;
	line-height: 18px;
	padding: 8px 10px 8px 35px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	color: #999;
	font-size: 12px;
	text-shadow: none;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity= 80);
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
#spb-elements .spb_content_elements {
	background: #0074A2 url(../img/editor_icons/PB_Nav_add_element.png) no-repeat 10px center;
	line-height: 18px;
	padding: 8px 10px 8px 35px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	color: #fff;
	font-size: 12px;
	text-shadow: none;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity= 80);
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	position: relative;
}
#spb-elements .spb_templates {
	background: #fff url(../img/editor_icons/PB_Nav_Pre_built_templates.png) no-repeat 10px center;
	line-height: 18px;
	padding: 8px 10px 8px 35px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	color: #999;
	font-size: 12px;
	text-shadow: none;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity= 80);
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
#spb-elements .spb_prebuilt_pages {
	background: #fff url(../img/editor_icons/PB_Nav_custom_templates.png) no-repeat 10px center;
	line-height: 18px;
	padding: 8px 10px 8px 35px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	color: #999;
	font-size: 12px;
	text-shadow: none;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity= 80);
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
#spb-elements .spb_content_elements:hover, #spb-elements .spb_templates:hover, #spb-elements .spb_prebuilt_pages:hover, #spb-elements .selected, #spb-elements #clear-spb:hover, #spb-elements .spb_columns:hover {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity= 100);
}
#spb-elements #clear-spb {
	background: transparent url(../img/editor_icons/PB_Element_delete.png) no-repeat 10px center;
	border: 1px solid #e4e4e4;
	line-height: 18px;
	padding: 7px 10px 7px 35px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	color: #999;
	font-size: 12px;
	text-shadow: none;
	text-decoration: none;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity= 80);
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
#spb-elements .selected:after {
	content: '';
	position: absolute;
	bottom: -21px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #222;
	left: 50%;
	margin-left: -8px;
}
#spb-elements.subnav-fixed .selected:after {
	display: none;
}
.custom-templates-nav ul.dropdown-menu {
	width: auto;
	padding: 5px 10px 10px;
}
.custom-templates-nav ul.dropdown-menu li {
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
ul.dropdown-menu li {
	font-size: 11px;
}
ul.dropdown-menu li a {
	padding: 5px 15px;
}
ul.dropdown-menu li a:hover {
	background-color: #f7f7f7;
}
ul.dropdown-menu li:first-child {
	border-top: 0;
}
ul.dropdown-menu {
	width: 364px;
	padding: 10px;
	background: #222;
	border: 0;
	top: 53px;
}
ul.dropdown-menu.spb_elements_ul {
	width: 546px;
}
.dropdown-menu:before {
	display: none!important;
}
.dropdown-menu:after {
	border-bottom: 6px solid #222!important;
	left: 15px!important;
}
.spb_templates_ul .divider {
	height: 0;
	margin: 0;
	background: none;
	border: 0;
}
.spb_template_li span.spb_remove_template {
	top: 9px!important;
}
.dropdown-menu .nav-header {
	padding: 6px 15px 6px!important;
	font-weight: bold;
	color: #333;
}
.navbar .nav > li > a {
	color: #CCCCCC;
	padding-bottom: 9px;
	outline: none!important;
}
#spb-elements .navbar-inner {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	height: 34px;
	min-height: 34px;
	padding: 20px;
	background: #f7f7f7;
	border-bottom: 1px solid #e4e4e4;
	box-shadow: none;
}
#coo_page_builder .subnav-fixed .navbar-inner {
	padding-left: 200px;
}
.folded #coo_page_builder .subnav-fixed .navbar-inner {
	padding-left: 68px;
}
#coo_page_builder .inside {
	background: #fff;
	padding: 0 20px;
	margin-top: 0;
	margin-bottom: 0;
	font-family: Sans-Serif;
	min-height: 450px;
}
.inside .navbar li { margin-bottom: 0; }

/* Slide-out options
---------------------------------------------------------- */

#spb-option-slideout {
	padding-top: 75px;
	margin: 0 -20px;
}
.spb-item-slideout {
	background: #F7F7F7;
	padding: 20px;
	margin: 0;
	display: none;
}
.spb-item-slideout li, ul.dropdown-menu li {
	float: left;
	width: 180px;
	margin-bottom: 2px!important;
	margin-right: 2px!important;
}
.spb-item-slideout li {
	width: 24.7%;
}
.spb-item-slideout li a, ul.dropdown-menu li a {
	display: block;
	text-decoration: none;
	padding: 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #2EA2CC;
	color: #fff;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.spb-item-slideout li a:hover, ul.dropdown-menu li a:hover {
	background-color: #1E8CBE;
	color: #fff;
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity= 100);
}

/* Bootstrap css mod
---------------------------------------------------------- */
.dropdown-menu li > a {
	text-decoration: none;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
	color: #333333;
	background-color: #eaf2fa;
}


/* Column controls buttons
---------------------------------------------------------- */
div.controls {
	position: relative;
	text-align: right;
	font-size: 11px;
	margin: 0;
	padding: 0;
	height: 30px;
	background-color: #fff;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjA1Ii8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjA1Ii8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.05) 0%, rgba(255,255,255,.05) 100%);
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.05) 0%, rgba(255,255,255,.05) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.05) 0%, rgba(255,255,255,.05) 100%);
	background-image: linear-gradient(bottom, rgba(0,0,0,.05) 0%, rgba(255,255,255,.05) 100%);
	border: 1px solid #e3e3e3;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.column_size_wrapper {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
}
.column_size {
	position: relative;
	top: -11px;
	color: #999;
}

.column_decrease, .column_increase, .column_delete, .column_edit, .column_popup, .column_clone {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0;
	padding: 0;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity= 80);
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
div.controls a:hover {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}
.column_decrease {
	background: url(../img/editor_icons/PB_Element_left_arrow.png) no-repeat center center;
	width: 7px;
	padding: 8px 12px 8px 8px;
}
.column_increase {
	background: url(../img/editor_icons/PB_Element_right_arrow.png) no-repeat center center;
	width: 7px;
	padding: 8px 8px 8px 12px;
}
.span3 > .controls > .column_size_wrapper > .column_decrease, .span12 .controls > .column_size_wrapper > .column_increase {
	opacity: 0.15!important;
	-moz-opacity: 0.15!important;
	filter:alpha(opacity= 15)!important;
}
.span3 .column_decrease:hover, .span12 .column_increase:hover {
	cursor: default;
}
.controls_right {
	position: relative;
	top: 0;
}
.column_delete {
	background: url(../img/editor_icons/PB_Element_delete.png) no-repeat center center;
	width: 29px;
	border-left: 1px solid #e3e3e3;
	height: 31px;
	margin-left: -3px;
	margin-right: 1px;
}	
.column_clone {
	background: url(../img/editor_icons/PB_Element_duplicate.png) no-repeat center center;
	width: 33px;
	border-left: 1px solid #e3e3e3;
	height: 31px;
	margin-left: -3px;
}
.column_edit {
	background: url(../img/editor_icons/PB_Element_edit.png) no-repeat center center;
	width: 31px;
	border-left: 1px solid #e3e3e3;
	height: 31px;
}
.sortable_1st_level .column_popup { display: none; }
.sortable_1st_level .spb_sortable .column_popup { display: none; }
.column_popup {
	display: none;
}

/* Controls top right
---------------------------------------------------------- */
.spb_controls_top_right { 
	position: relative;
}
	.spb_controls_top_right .controls {
		z-index: 1;
		position: absolute;
		right: 0;
	}

/* Twitter widget
---------------------------------------------------------- */
.spb_twitter_widget .spb_element_wrapper {
	background-image: url(../img/twitter.png);
	background-position: center 30px;
	background-repeat: no-repeat;
	
	height: 70px;
}

/* Separator
---------------------------------------------------------- */
.spb_text_separator,
.spb_message {
	position: relative;
}

.spb_separator .spb_element_wrapper {
	height: 23px;
}
	.spb_separator .column_delete {
		margin-left: 4px;
	}
.spb_separator .spb_element_wrapper,
.spb_text_separator .spb_element_wrapper {
	padding-top: 0;
	
	margin-top: 0px;
}

/* Separator with text
---------------------------------------------------------- */
.spb_text_separator .textfield {
	text-align: center;
	min-height: 22px;
	position: relative;
	top: 2px;
}
	div.separator_align_left .textfield {
		text-align: left;
		margin-left: 10px;
	}
	div.separator_align_right .textfield {
		text-align: right;
		margin-right: 75px;
	}

/* Alert boxes, Message box
---------------------------------------------------------- */
.spb_element_wrapper.alert {
	margin-bottom: 0;
}
.spb_message div.controls {
	border-left: 0;
	border-top-left-radius: 0;
}
.spb_element_wrapper.alert {
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 18px;
	color: #111;
	border-color: #e4e4e4;
	border-top-width: 1px;
}
.spb_element_wrapper.alert-info {
	background-color: #ebf4f7;
}
.spb_element_wrapper.alert-error {
	background-color: #f7eded;
}
.spb_element_wrapper.alert-success {
	background-color: #ecf5ed;
}
.spb_element_wrapper.alert-block,
option.alert-block {
	background-color: #f8f6e2;
}

.alert .textarea_html {
	margin: 0;
}
.alert p:last-child {
	margin-bottom: 0;
}

/* Call to action block
---------------------------------------------------------- */
.spb_impact_text .spb_element_wrapper {
	background-image: url(../img/cta_block.png);
	background-position: center right;
	background-repeat: no-repeat;
	padding-left: 0;
	padding-right: 0;
}
	#spb_content .spb_impact_text .spb_param_value.content {
		margin: 10px 200px 20px 20px;
		padding-bottom: 0;
	}

.cta_align_left.spb_element_wrapper {
	background-position: center left;
}
	#spb_content .cta_align_left h2 {
		margin: 10px 20px 20px 200px;
	}

.cta_align_bottom.spb_element_wrapper {
	background-position: center bottom;
	padding-bottom: 60px;
}
	#spb_content .cta_align_bottom h2 {
		margin: 10px 20px 25px 20px;
		text-align: center;
	}

/* Tabs
---------------------------------------------------------- */
.tab_controls {
	position: relative;
	left: 0;
	top: 0;
	font-size: 10px;
	max-width: 100%;
	margin-bottom: 15px;
}
.tab_controls button {
	background: #fff;
	border: 1px solid #e4e4e4;
	padding: 8px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-right: 2px;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity= 80);
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.tab_controls button:hover {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity= 100);
}
.tab_controls button.add_tab {
	background: #222 url(../img/editor_icons/PB_Nav_add_element.png) no-repeat 10px center;
	color: #fff;
	padding-left: 34px;
	font-size: 12px;
	border: 0;
}
#tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
.ui-tabs .ui-tabs-panel {
	padding: 0;
	font-weight: normal;
	color: inherit;
}

/* Tour
---------------------------------------------------------- */
.spb_tour > .spb_element_wrapper > .spb_tabs_holder > .ui-tabs-nav {
	width: 30%;
	float: left;
}
.spb_tour > .spb_element_wrapper > .spb_tabs_holder > .ui-tabs-nav li,
.spb_tour > .spb_element_wrapper > .spb_tabs_holder > .ui-tabs-nav li.ui-tabs-selected {
	clear: both;
	width: 95%;
	margin-right: 0;
	margin-bottom: 0.2em;
}
.spb_tour > .spb_element_wrapper > .spb_tabs_holder > .ui-tabs-nav li a {
	display: block;
}
.spb_tour > .spb_element_wrapper > .spb_tabs_holder > .ui-tabs-nav li a.ui-tabs-anchor {
	width: 60%;
}
.spb_tour > .spb_element_wrapper > .spb_tabs_holder > .ui-tabs-nav li a.edit_tab, .spb_tour > .spb_element_wrapper > .spb_tabs_holder > .ui-tabs-nav li a.delete_tab {
	float: right;
}
.spb_tour > .spb_element_wrapper > .spb_tabs_holder > .spb_column_container {
	width: 70%;
	float: left;
}
.spb_tour > .spb_element_wrapper > .spb_tabs_holder .spb_content_element {
	margin-bottom: 15px;
}
.spb_tour.span3 .ui-tabs-nav,
.spb_tour.span3 .spb_column_container {
	width: auto;
	float: none;
}
.spb_tour.span3 .ui-tabs-nav li,
.spb_tour.span3 .ui-tabs-nav li.ui-tabs-selected {
	width: 100%;
}


/* Toggle
---------------------------------------------------------- */
#spb_content .spb_toggle .spb_element_wrapper {
	padding: 10px;
}
#spb_content .toggle_title {
	font-size: 12px;
	padding: 0 8px;
	margin-bottom: 10px;
	font-family: inherit;
	font-weight: 700;
	display: block;
	height: auto;
	overflow: hidden;
	line-height: 32px;
	background: #fff;
	border: 1px solid #e4e4e4;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity= 80);
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
#spb_content .toggle_title:hover {
	cursor: pointer;
}
#spb_content .toggle_title:hover, #spb_content .toggle_title_active {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity= 100);
}
#spb_content .toggle_content,
#spb_content .spb_element_wrapper .toggle_content {
	display: none;
	margin-top: 15px;
	margin-left: 10px;
}
#spb_content .text_introduce,
#spb_content .spb_element_wrapper .text_introduce {
	display: none;
	margin-top: 15px;
	margin-left: 10px;
}

/* Video widget
---------------------------------------------------------- */
.spb_video .spb_element_wrapper {
	background-image: url(../img/asset_icons/video.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;
}

/* Google Maps widget
---------------------------------------------------------- */
.spb_gmaps .spb_element_wrapper {
	background-image: url(../img/asset_icons/googe_maps.png);
	background-position: center center;
	background-repeat: no-repeat;
	height: 80px;
}

/* CUSTOM widgets
---------------------------------------------------------- */
.spb_blog .spb_element_wrapper {
	background-image: url(../img/asset_icons/blog.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
}
.spb_recent_posts .spb_element_wrapper {
	background-image: url(../img/asset_icons/recent_posts.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
}
.spb_portfolio .spb_element_wrapper {
	background-image: url(../img/asset_icons/portfolio.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
}
.clients .spb_element_wrapper {
	background-image: url(../img/asset_icons/clients.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
}
.team .spb_element_wrapper {
	background-image: url(../img/asset_icons/team.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
}
.jobs .spb_element_wrapper {
	background-image: url(../img/asset_icons/jobs.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
}
.testimonial .spb_element_wrapper {
	background-image: url(../img/asset_icons/testimonial.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
}
.faqs .spb_element_wrapper {
	background-image: url(../img/asset_icons/faqs.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
}
.spb_revslider .spb_element_wrapper {
	background-image: url(../img/asset_icons/revolution_slider.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
}
.spb_portfolio_carousel .spb_element_wrapper {
	background-image: url(../img/asset_icons/portfolio_carousel.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
}
.team_carousel .spb_element_wrapper {
	background-image: url(../img/asset_icons/team_carousel.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
}
.jobs_overview .spb_element_wrapper {
	background-image: url(../img/asset_icons/jobs_overview.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
}
.spb_googlechart .spb_element_wrapper {
	background-image: url(../img/asset_icons/google_charts.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
}
.sitemap .spb_element_wrapper {
	background-image: url(../img/asset_icons/sitemap.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
}
.spb_divider .spb_element_wrapper {
	background-image: url(../img/asset_icons/divider.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
	border-top: 1px solid #DFDFDF;
}
.spb_blank_spacer .spb_element_wrapper {
	background-image: url(../img/asset_icons/spacer.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
	border-top-width: 1px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.spb_blank_spacer div.controls {
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	border-left: 0;
}
.spb_gmaps .spb_element_wrapper {
	background-image: url(../img/asset_icons/google_maps.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
}
.spb_search_widget .spb_element_wrapper {
	background-image: url(../img/asset_icons/search.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
	border-top: 1px solid #DFDFDF;
}
.spb_posts_carousel .spb_element_wrapper {
	background-image: url(../img/asset_icons/blog_carousel.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
}
.spb_posts_slider .spb_element_wrapper {
	background-image: url(../img/asset_icons/posts_silder.png);
	background-position: center center;
	background-repeat: no-repeat;
	height: 80px;
}
.spb_testimonial_carousel .spb_element_wrapper {
	background-image: url(../img/asset_icons/testimonial_carousel.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
}
.clients_featured .spb_element_wrapper {
	background-image: url(../img/asset_icons/clients_featured.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
}
.spb_fullwidth_text .spb_element_wrapper {
	height: auto;	
}
.spb_testimonial_slider .spb_element_wrapper {
	background-image: url(../img/asset_icons/testimonial_slider.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
}
.spb_codesnippet .spb_element_wrapper {
	background-image: url(../img/asset_icons/code_snippet.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
}
.spb_products_mini .spb_element_wrapper {
	background-image: url(../img/asset_icons/shop_products_mini.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
}
.spb_products .spb_element_wrapper {
	background-image: url(../img/asset_icons/shop_products.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
}
.spb-tweets-slider .spb_element_wrapper {
	background-image: url(../img/asset_icons/tweets_slider.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
}
.spb-latest-tweets .spb_element_wrapper {
	background-image: url(../img/asset_icons/tweets.png);
	background-position: center center;
	background-repeat: no-repeat;	
	height: 80px;	
}
.spb_parallax .spb_element_wrapper {
	background-image: url(../img/asset_icons/parallax.png);
	background-position: center 15px;
	background-repeat: no-repeat;	
	padding-top: 85px;
	padding-bottom: 10px;
}
.ct_gallery .spb_element_wrapper {
	background-image: url(../img/asset_icons/gallery.png);
	background-position: center 25px;
	background-repeat: no-repeat;	
	height: 80px;
}
.spb_text_introduce .spb_element_wrapper {
	background-image: url(../img/asset_icons/introduce.png);
	background-position: center 25px;
	background-repeat: no-repeat;
	height: 80px;
}
.portfolio_showcase .spb_element_wrapper {
	background-image: url(../img/asset_icons/portfolio_showcase.png);
	background-position: center 15px;
	background-repeat: no-repeat;	
	height: 80px;	
}
.supersearch .spb_element_wrapper {
	background-image: url(../img/asset_icons/super_search.png);
	background-position: center 15px;
	background-repeat: no-repeat;	
	height: 80px;		
}
.spb_jobs_overview .spb_element_wrapper .job_text, .spb_codesnippet .spb_element_wrapper .content {
	display: none;
}


/* Select images (site attached images)
---------------------------------------------------------- */
.gallery_widget_site_images { display: none; }
.gallery_widget_site_images li { cursor: pointer; }

.gallery_widget_attached_images,
.gallery_widget_site_images { margin-top: 15px; }

.gallery_widget_img_select li,
.gallery_widget_attached_images_list li {
	position:  relative;
	background: #ffffff;
	border: 1px solid #DFDFDF;
	padding: 3px;
	float: left;
	margin: 0 10px 10px 0;
	min-height: 75px;
	min-width: 75px;
	line-height: 70px;
	text-align: center;
}
.gallery_widget_img_select li.added {
	padding: 0;
	border: 4px solid #21759B;
}
.gallery_widget_img_select li img,
.gallery_widget_attached_images_list li img {
	max-height: 75px;
	display: inline-block;
	vertical-align: middle;
}
.gallery_widget_img_select .img-added,
.gallery_widget_attached_images_list .added .img-added { display: none; line-height: 1.5em; }

.gallery_widget_img_select .added .img-added { 
	display: block;
	position: absolute;
	bottom: 5px;
	background: #45CF19;
	padding: 0px 4px;
	font-size: 11px;
}

.gallery_widget_attached_images_list .img_added { display: none; }


/* Template system
---------------------------------------------------------- */
.spb_template_li { position: relative; }
	
.spb_template_li span.spb_remove_template {
	position: absolute;
	right: 10px;
	top: 2px;
	background: #fff url(../img/editor_icons/PB_Element_delete.png) no-repeat center center;
	width: 20px;
	height: 20px;
	border-radius: 3px;
}
.spb_template_li .spb_template_delete_icon {
	cursor: pointer;
}

	.inside .navbar li.spb_no_templates {
		margin-bottom: 3px;
	}
	li.spb_no_templates span {
		padding: 3px 10px;
	}

/* theme mod
---------------------------------------------------------- */
.ui-tabs,
.ui-tabs .ui-tabs-nav {
	padding: 0;
}
.ui-tabs .ui-tabs-nav li {
	top: 0;
	margin-bottom: 2px;
	margin-right: 10px!important;
	display: inline-block;
	border: 1px solid #ddd;
	margin-right: 1px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.ui-tabs .ui-tabs-nav li a {
	text-decoration: none;
	float: left;
	display: block;
	padding: 10px 10px 9px;
	line-height: 14px;
	color: #222;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity= 80);
}
.ui-tabs .ui-tabs-nav li.ui-state-active, .ui-tabs .ui-tabs-nav li:hover {
	background: #fff;
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity= 100);
}
.spb_tour .ui-tabs .ui-tabs-nav li.ui-state-active {
	background: #fff;
}
.delete_tab {
	background-image: url(../img/editor_icons/PB_Element_delete.png);
	display: block;
	width: 14px;
	height: 14px;
	float: left;
	background-repeat: no-repeat;
	background-position: center center;
	border-left: 1px solid #e3e3e3;
	padding: 10px 7px 9px!important;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity= 80);
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.edit_tab {
	background-image: url(../img/editor_icons/PB_Element_edit.png);
	display: block;
	width: 14px;
	height: 14px;
	float: left;
	background-repeat: no-repeat;
	background-position: center center;
	border-left: 1px solid #e3e3e3;
	padding: 10px 7px 9px!important;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity= 80);
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.ui-accordion-header .edit_tab, .ui-accordion-header .delete_tab {
	float: right;
	margin-left: 0!important;
}
.edit_tab:hover, .delete_tab:hover {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity= 100);
	cursor: pointer;
}
.ui-widget-header {
	background: no-repeat;
	font-weight: normal;
	color: inherit;
}
.ui-widget {
	font-size: inherit;
	font-family: inherit;
}
.ui-widget-content {
	background: none;
	border: none;
	color: inherit;
}

#poststuff h3.ui-accordion-header {
	font-size: 12px;
	padding: 0;
	margin-bottom: 10px;
	font-family: inherit;
	font-weight: 700;
	display: block;
	height: auto;
	overflow: hidden;
	line-height: 32px;
	background: url("ui-custom-theme/images/ui-bg_highlight-soft_100_f6f6f6_1x100.png") repeat-x scroll 50% 50% #F6F6F6;
	border: 1px solid #DDDDDD;
}
#poststuff h3.ui-accordion-header span {
	display: none
}
#poststuff h3.ui-accordion-header a {
	text-decoration: none;
}
#poststuff h3.ui-state-active {
	background: url("ui-custom-theme/images/ui-bg_glass_65_ffffff_1x400.png") repeat-x scroll 50% 50% #FFFFFF;
}
#poststuff h3.ui-state-hover {
	background: #fff;
}

/* VVV */

.spb_tabs_holder .ui-widget-header {
    border: 0;
}

.spb_element_wrapper {
	border-top-width: 0;
	
}

.spb_media_tab {
	padding: 5px 15px 15px;
    }
    .spb_media_tab #spb_spinner {
        float: left;
    }
    .spb_media_tab #media-items {
        width: 100%;
    }
    .spb_media_tab .drag-drop #drag-drop-area {
        height: 120px;
    }
    .spb_media_tab .drag-drop .drag-drop-inside {
        margin-top: 20px;
    }
    .spb_media_tab #media-items .preloaded {
        display: none;
    }
    .spb_media_tab .spb_media_block {
        display: block;
        float: left;
        margin-top: 10px;
        margin-left: 10px;
        width: 95px;
        height: 95px;
        overflow: hidden;
        }
        .spb_media_tab .spb_media_block a {
        	display: block;
        }
        .spb_media_tab .spb_media_block.used {
            opacity: 0.2;
        }
        .spb_media_tab .spb_media_block img {
            width: 95px;
            height: auto;
        }
    .spb_media_tab #spb_media_list li a.icon-remove, .gallery_widget_attached_images_list  .icon-remove {
        display: none;
    }
.border {
    border: 1px dashed #CCC;
    min-height: 400px;
    margin: 0;
    padding: 0;
}
#spb-media-items-list {
    width:100%;
    min-height: 400px;
    margin: 0em;
    }
    #spb-media-items-list .spb_media_block {
        position: relative;
        margin-top: 10px;
        margin-left: 10px;
        }
        #spb-media-items-list .spb_media_block .icon-remove {
            background-color: #ffffff;
            position: absolute;
            right: 0px;
        }
.spb_media_block_link .icon_remove {
    display: none;
}

.spb_element_wrapper .textarea_raw_html {
    margin: 0 0 10px;
    word-break: break-all;
}

.spb_edit_form_elements .textarea_raw_html {
    width: 100%;

}

#spb-empty {
    display: none;
    position: absolute;
    margin-top: -270px;
    margin-left: -10px;
    text-align: center;
    width: 97%;
    }
    #spb-empty h2 {
        margin-left: 20px;
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 2px;
        margin-top: 60px;
        color: #222;
    }
	#spb-empty .unhappy-face {
		background: transparent url(../img/editor_icons/PB_Welcome_no_content_face.png) no-repeat center center;
		width: 32px;
		height: 32px;
		margin: 25px auto 0;
	}
	#spb-empty .helper-steps {
		padding: 25px 0 15px;
		margin-left: 20px;
		margin-top: 0;
		font-size: 12px;
	}
	#spb-empty .helper-steps li {
		margin-bottom: 10px;
	}
	#spb-empty .helper-steps li a {
		text-decoration: none;
		color: #222;
	}
	#spb-empty .helper-steps li a:hover {
		color: #E93024;
	}
	#spb-empty .helper-steps li span {
		color: #999;
		margin: 0 5px;
	}
	#spb-empty .helper-steps li p {
		display: inline;
		margin: 0;
	}
	.helper-steps .step-one i {
		background: transparent url(../img/editor_icons/PB_Element_add.png) no-repeat center center;
		width: 16px;
		height: 16px;
		display: inline-block;
		top: 3px;
		margin: 0 8px 0 12px;
	}
	.helper-steps .step-two i {
		background: transparent url(../img/editor_icons/PB_Element_edit.png) no-repeat center center;
		width: 16px;
		height: 16px;
		display: inline-block;
		top: 3px;
		margin: 0 8px 0 12px;
	}
#spb-empty .helper-block {
        margin-top: 10px;
    }
    #spb-empty .helper-block span {
        padding-left: 18px;
        line-height: 30px;
        display: block;
        width: 50px;
        height: 30px;
        background: transparent url(../img/bullet_hint.png) left top no-repeat;
        text-shadow: #333333 0 -1px 0;
        float: left;
        clear: left;
        color: white;
        vertical-align: middle;
    }
    #spb-empty .edit-picture {
        background: transparent url(../img/edit_hint.png) center center no-repeat;
        width: 127px;
        height: 108px;
        margin-left: 60px;
        margin-top: -10px;
    }
    #spb-empty .helper-block p {
        display: block;
        margin: 0;
    }
    #spb-empty  p.one-line {
        line-height: 30px;
    }
    #spb-empty table {
        border-collapse: collapse;
        border-spacing: 0px;
    }
.empty-builder #spb-empty {
    display: block;
}





.open-dropdown-popular-layouts i {
    background: url(../img/icon-layout.png) no-repeat center 3px;
    width: 16px;
    margin-right: 2px; position: relative; top: -2px;
}

.open-dropdown-content-element i {
    background: url(../img/icon-content.png) no-repeat center 3px;
    width: 16px;
    margin-right: 2px;
    position: relative;
    top: -2px;
}

.add-text-block-to-content i {
    background: url(../img/icon-text.png) no-repeat center 3px;
    width: 10px;
    margin-right: 2px;
    position: relative;
    top: -2px;
}
.helper-steps li p i {
	background: url(../img/icon-pencil.png) no-repeat center 3px;
	width: 14px;
	margin-right: 6px;
	position: relative;
	top: -2px;
}

.spb_single_image .spb_element_wrapper {
    height: 122px;
    text-align: center;
}
.spb_single_image .spb-icon-single-image {
	background-image: url(../img/asset_icons/no_image.png);
}

.spb_single_image_widget .attachment-thumbnail {
    margin: 6px auto 0;
    display: block;
    width: auto;
    height: 100px;
}



/* Icons for elements in dropmenu list */
#spb-elements [class*="icon-"],
[class^="spb-icon"],
[class*=" spb-icon"] {
	margin-right: 7px;
}

[class^="spb-icon"], [class*=" spb-icon"] {
    background-position: center center;
    width: 16px; height: 16px;
    margin-top: 0;
    float: left;
    margin-right: 8px;
}

.spb-icon-portfolio {
	background-image: url(../img/menu_icons/menu_portfolio.png);
}
.spb-icon-blog {
	background-image: url(../img/menu_icons/menu_blog.png);
}
.spb-icon-clients {
	background-image: url(../img/menu_icons/menu_clients.png);
}
.spb-icon-team {
	background-image: url(../img/menu_icons/menu_team.png);
}
.spb-icon-jobs {
	background-image: url(../img/menu_icons/menu_jobs.png);
}
.spb-icon-testimonial {
	background-image: url(../img/menu_icons/menu_testimonial.png);
}
.spb-icon-faqs {
	background-image: url(../img/menu_icons/menu_faqs.png);
}
.spb-icon-revslider {
	background-image: url(../img/menu_icons/menu_revolution_slider.png);
}
.spb-icon-recent-posts {
	background-image: url(../img/menu_icons/menu_recent_posts.png);
}
.spb-icon-portfolio-carousel {
	background-image: url(../img/menu_icons/menu_portfolio_carousel.png);
}
.spb-icon-team-carousel {
	background-image: url(../img/menu_icons/menu_team_carousel.png);
}
.spb-icon-jobs-overview {
	background-image: url(../img/menu_icons/menu_jobs_overview.png);
}
.spb-icon-code-snippet {
	background-image: url(../img/menu_icons/menu_code_snippet.png);
}
.spb-icon-chart {
	background-image: url(../img/menu_icons/menu_google_charts.png);
}
.spb-icon-sitemap {
	background-image: url(../img/menu_icons/menu_sitemap.png);
}
.spb-icon-text-block {
	background-image: url(../img/menu_icons/menu_text_block.png);
	background-position: 0 0;
}
.spb-icon-boxed-content {
	background-image: url(../img/menu_icons/menu_boxed_content.png);
}
.spb-icon-divider {
	background-image: url(../img/menu_icons/menu_divider.png);
}
.spb-icon-spacer {
	background-image: url(../img/menu_icons/menu_spacer.png);
}
.spb-icon-message-box {
	background-image: url(../img/menu_icons/menu_message_box.png);
	background-position: 0 0;
}
.spb-icon-toggle {
	background-image: url(../img/menu_icons/menu_toggle.png);	
	background-position: 0 0;
}
.spb-icon-single-image {
	background-image: url(../img/menu_icons/menu_single_image.png);	
}
.spb-icon-tabs {
	background-image: url(../img/menu_icons/menu_tabs.png);
	background-position: 0 0;
}
.spb-icon-tour {
	background-image: url(../img/menu_icons/menu_tour.png);
	background-position: 0 0;
}
.spb-icon-accordion {
	background-image: url(../img/menu_icons/menu_accordion.png);	
	background-position: 0 0;	
}
.spb-icon-impact-text {
	background-image: url(../img/menu_icons/menu_impact_text.png);	
	background-position: 0 0;
}
.spb-icon-film-youtube {
	background-image: url(../img/menu_icons/menu_video.png);	
	background-position: 0 0;
}
.spb-icon-map-pin {
	background-image: url(../img/menu_icons/menu_google_maps.png);	
	background-position: 0 0;
}
.spb-icon-raw-html {
	background-image: url(../img/menu_icons/menu_raw_html.png);
}
.spb-icon-raw-javascript {
	background-image: url(../img/menu_icons/menu_raw_js.png);
}
.spb-icon-search {
	background-image: url(../img/menu_icons/menu_search.png);
}
.spb-icon-testimonial_carousel {
	background-image: url(../img/menu_icons/menu_testimonial_carousel.png);
}
.spb-icon-posts-carousel {
	background-image: url(../img/menu_icons/menu_blog_carousel.png);
}
.spb-icon-clients-featured {
	background-image: url(../img/menu_icons/menu_clients_featured.png);
}
.spb-icon-full-width-text {
	background-image: url(../img/menu_icons/menu_text_block_full_width.png);
}
.spb-icon-testimonial_slider {
	background-image: url(../img/menu_icons/menu_testimonial_slider.png);
}
.spb-icon-full-width-text {
	background-image: url(../img/menu_icons/menu_text_block_full_width.png);
}
.spb-icon-testimonial_slider {
	background-image: url(../img/menu_icons/menu_testimonial_slider.png);
}
.spb-icon-products-mini {
	background-image: url(../img/menu_icons/menu_shop_products_mini.png);
}
.spb-icon-products {
	background-image: url(../img/menu_icons/menu_shop_products.png);
}
.spb-icon-tweets-slider {
	background-image: url(../img/menu_icons/menu_tweets_slider.png);
}
.spb-icon-latest-tweets {
	background-image: url(../img/menu_icons/menu_tweets.png);
}
.spb-icon-parallax {
	background-image: url(../img/menu_icons/menu_parallax.png);
}
.spb-icon-gallery {
	background-image: url(../img/menu_icons/menu_gallery.png);
}
.spb-icon-portfolio-showcase {
	background-image: url(../img/menu_icons/menu_portfolio_showcase.png);
}
.spb-icon-supersearch {
	background-image: url(../img/menu_icons/menu_super_search.png);
}
.alert .messagebox_text {
	padding-left:28px;
}
.alert .messagebox_text {
	background:url(../img/asset_icons/message_box_warning.png) no-repeat left center;
}
.alert-info .messagebox_text {
	background:url(../img/asset_icons/message_box_info.png) no-repeat left center;
}
.alert-success .messagebox_text {
	background:url(../img/asset_icons/message_box_success.png) no-repeat left center;
}
.alert-error .messagebox_text {
	background:url(../img/asset_icons/message_box_error.png) no-repeat left center;
}

.spb_single_image_widget .column_edit_trigger {
    top: 40px;
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -120px;
}
.spb_single_image_widget .column_edit_trigger.image-exists {
    display: none;
}

.nav-header a {
    color: #999;
}

@media (min-width: 1200px) {
    .spb_media_tab.row-fluid > [class*="span"] {
        margin-left: 2.127659574%;
    }
}


/* Container helper */

.container-helper {
    display: none;
}
#spb_content .container-helper h2 {
    font-size: 1.1em;
}
.container-helper td {
    vertical-align: middle;
}


.container-helper {
    display: block;
    margin: 30px 0 10px;
    font-size: 11px;
    text-align: center;
    clear: both;
    padding-top: 20px;
    border-top: 1px solid #eee;
}
.empty_column .container-helper {
	margin: 20px 0;
	border-top: 0;
	padding-top: 0;
}
.container-helper span {
	color: #666;
	margin-left: 5px;
}
.container-helper a {
	text-decoration: none;
	color: #222;
}
.container-helper a:hover {
	color: #E93024;
}

.spb_tabs_holder .container-helper {
    margin-top: 1em;
}

.spb_ui-state-active .container-helper, .sorting-started .container-helper {
    display: none;
}

.span2 .container-helper {
    display: none;
}

/* /Container helper */


.dropdown-menu .nav-header {
    padding: 5px 10px!important;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px!important;
    border-bottom: 1px solid #fff;
}

.spb_accordion_holder .group {
	margin-top: 15px;
}
.spb_accordion_holder .group:first-child {
	margin-top: 0;
}
.spb_accordion_holder .ui-accordion .ui-accordion-content {
    overflow: hidden;
    min-height: 58px;
}
.spb_accordion_holder h3 span.ui-accordion-header-icon {
	margin-top: -10px!important;
}
.spb_accordion_holder h3 a {
	margin-left: 10px!important;
	color: #222!important;
	font-weight: normal!important;
}
.hidden-placeholder {
    display: none;
}


/* CUSTOM */

.spb_portfolio .column_size_wrapper, .spb_blog .column_size_wrapper, .spb_clients_featured .column_size_wrapper, .spb_fullwidth_text .column_size_wrapper, .spb_accordion_holder .ui-accordion-content .column_size_wrapper {
	display: none;
}

.altbg-preview {
	width: 200px;
	height: 50px;
	border: 1px solid #e4e4e4;
}
.altbg-preview p {
	text-align: center;
	padding: 5px 0;
}


/* RETINA */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	
	#spb-empty .unhappy-face {
		background-image: url(../img/editor_icons/PB_Welcome_no_content_face@2x.png);
		background-size: 32px 32px;
	}
	.navbar .brand {
		background-image: url(../img/editor_icons/SPB_textLogo@2x.png);
		background-size: 145px 10px;
	}
	#spb-elements .spb_templates {
		background-image: url(../img/editor_icons/PB_Nav_custom_templates@2x.png);
		background-size: 17px 14px;
	}
	#spb-elements .spb_columns {
		background-image: url(../img/editor_icons/PB_Nav_add_columns@2x.png);
		background-size: 17px 14px;
	}
	#spb-elements .spb_prebuilt_pages {
		background-image: url(../img/editor_icons/PB_Nav_Pre_built_templates@2x.png);
		background-size: 17px 14px;
	}
	#spb-elements .spb_content_elements, .tab_controls button.add_tab {
		background-image: url(../img/editor_icons/PB_Nav_add_element@2x.png);
		background-size: 14px 14px;
	}
	[class^="spb-icon"], [class*=" spb-icon"] {
		background-size: 16px 16px;
	}
	.spb-icon-portfolio {
		background-image: url(../img/menu_icons/menu_portfolio@2x.png);
	}
	.spb-icon-blog {
		background-image: url(../img/menu_icons/menu_blog@2x.png);
	}
	.spb-icon-clients {
		background-image: url(../img/menu_icons/menu_clients@2x.png);
	}
	.spb-icon-team {
		background-image: url(../img/menu_icons/menu_team@2x.png);
	}
	.spb-icon-jobs {
		background-image: url(../img/menu_icons/menu_jobs@2x.png);
	}
	.spb-icon-testimonial {
		background-image: url(../img/menu_icons/menu_testimonial@2x.png);
	}
	.spb-icon-faqs {
		background-image: url(../img/menu_icons/menu_faqs@2x.png);
	}
	.spb-icon-revslider {
		background-image: url(../img/menu_icons/menu_revolution_slider@2x.png);
	}
	.spb-icon-recent-posts {
		background-image: url(../img/menu_icons/menu_recent_posts@2x.png);
	}
	.spb-icon-portfolio-carousel {
		background-image: url(../img/menu_icons/menu_portfolio_carousel@2x.png);
	}
	.spb-icon-team-carousel {
		background-image: url(../img/menu_icons/menu_team_carousel@2x.png);
	}
	.spb-icon-jobs-overview {
		background-image: url(../img/menu_icons/menu_jobs_overview@2x.png);
	}
	.spb-icon-code-snippet {
		background-image: url(../img/menu_icons/menu_code_snippet@2x.png);
	}
	.spb-icon-chart {
		background-image: url(../img/menu_icons/menu_google_charts@2x.png);
	}
	.spb-icon-sitemap {
		background-image: url(../img/menu_icons/menu_sitemap@2x.png);
	}
	.spb-icon-text-block {
		background-image: url(../img/menu_icons/menu_text_block@2x.png);
		background-position: 0 0;
	}
	.spb-icon-boxed-content {
		background-image: url(../img/menu_icons/menu_boxed_content@2x.png);
	}
	.spb-icon-divider {
		background-image: url(../img/menu_icons/menu_divider@2x.png);
	}
	.spb-icon-spacer {
		background-image: url(../img/menu_icons/menu_spacer@2x.png);
	}
	.spb-icon-message-box {
		background-image: url(../img/menu_icons/menu_message_box@2x.png);
		background-position: 0 0;
	}
	.spb-icon-toggle {
		background-image: url(../img/menu_icons/menu_toggle@2x.png);	
		background-position: 0 0;
	}
	.spb-icon-single-image {
		background-image: url(../img/menu_icons/menu_single_image@2x.png);	
	}
	.spb-icon-tabs {
		background-image: url(../img/menu_icons/menu_tabs@2x.png);
		background-position: 0 0;
	}
	.spb-icon-tour {
		background-image: url(../img/menu_icons/menu_tour@2x.png);
		background-position: 0 0;
	}
	.spb-icon-accordion {
		background-image: url(../img/menu_icons/menu_accordion@2x.png);	
		background-position: 0 0;	
	}
	.spb-icon-impact-text {
		background-image: url(../img/menu_icons/menu_impact_text@2x.png);	
		background-position: 0 0;
	}
	.spb-icon-film-youtube {
		background-image: url(../img/menu_icons/menu_video@2x.png);	
		background-position: 0 0;
	}
	.spb-icon-map-pin {
		background-image: url(../img/menu_icons/menu_google_maps@2x.png);	
		background-position: 0 0;
	}
	.spb-icon-raw-html {
		background-image: url(../img/menu_icons/menu_raw_html@2x.png);
	}
	.spb-icon-raw-javascript {
		background-image: url(../img/menu_icons/menu_raw_js@2x.png);
	}
	.spb-icon-search {
		background-image: url(../img/menu_icons/menu_search@2x.png);
	}
	.spb-icon-testimonial_carousel {
		background-image: url(../img/menu_icons/menu_testimonial_carousel@2x.png);
	}
	.spb-icon-posts-carousel {
		background-image: url(../img/menu_icons/menu_blog_carousel@2x.png);
	}
	.spb-icon-clients-featured {
		background-image: url(../img/menu_icons/menu_clients_featured@2x.png);
	}
	.spb-icon-full-width-text {
		background-image: url(../img/menu_icons/menu_text_block_full_width@2x.png);
	}
	.spb-icon-testimonial_slider {
		background-image: url(../img/menu_icons/menu_testimonial_slider@2x.png);
	}
	.spb-icon-products-mini {
		background-image: url(../img/menu_icons/menu_shop_products_mini@2x.png);
	}
	.spb-icon-products {
		background-image: url(../img/menu_icons/menu_shop_products@2x.png);
	}
	.spb-icon-tweets-slider {
		background-image: url(../img/menu_icons/menu_tweets_slider@2x.png);
	}
	.spb-icon-latest-tweets {
		background-image: url(../img/menu_icons/menu_tweets@2x.png);
	}
	.spb-icon-parallax {
		background-image: url(../img/menu_icons/menu_parallax@2x.png);
	}
	.spb-icon-gallery {
		background-image: url(../img/menu_icons/menu_gallery@2x.png);
	}
	.spb-icon-portfolio-showcase {
		background-image: url(../img/menu_icons/menu_portfolio_showcase@2x.png);
	}
	.spb-icon-supersearch {
		background-image: url(../img/menu_icons/menu_super_search@2x.png);
	}
	
	.column_decrease {
		background-image: url(../img/editor_icons/PB_Element_left_arrow@2x.png);
		background-size: 7px 6px;
	}
	.column_increase {
		background-image: url(../img/editor_icons/PB_Element_right_arrow@2x.png);
		background-size: 7px 6px;
	}
	.column_delete, #spb-elements #clear-spb, .delete_tab, .spb_template_li span.spb_remove_template {
		background-image: url(../img/editor_icons/PB_Element_delete@2x.png);
		background-size: 14px 14px;
	}	
	.column_clone {
		background-image: url(../img/editor_icons/PB_Element_duplicate@2x.png);
		background-size: 14px 14px;
	}
	.column_edit, .helper-steps .step-two i {
		background-image: url(../img/editor_icons/PB_Element_edit@2x.png);
		background-size: 14px 14px;
	}
	.edit_tab {
		background-image: url(../img/editor_icons/PB_Element_edit@2x.png);
		background-size: 14px 14px;
	}
	.spb_video .spb_element_wrapper {
		background-image: url(../img/asset_icons/video@2x.png);
		background-size: 120px 54px;
	}
	.spb_gmaps .spb_element_wrapper {
		background-image: url(../img/asset_icons/googe_maps@2x.png);
		background-size: 120px 54px;
	}
	.spb_blog .spb_element_wrapper {
		background-image: url(../img/asset_icons/blog@2x.png);
		background-size: 120px 54px;
	}
	.spb_recent_posts .spb_element_wrapper {
		background-image: url(../img/asset_icons/recent_posts@2x.png);
		background-size: 120px 54px;
	}
	.spb_portfolio .spb_element_wrapper {
		background-image: url(../img/asset_icons/portfolio@2x.png);
		background-size: 120px 54px;
	}
	.clients .spb_element_wrapper {
		background-image: url(../img/asset_icons/clients@2x.png);
		background-size: 120px 54px;
	}
	.team .spb_element_wrapper {
		background-image: url(../img/asset_icons/team@2x.png);
		background-size: 120px 54px;
	}
	.jobs .spb_element_wrapper {
		background-image: url(../img/asset_icons/jobs@2x.png);
		background-size: 120px 54px;
	}
	.testimonial .spb_element_wrapper {
		background-image: url(../img/asset_icons/testimonial@2x.png);
		background-size: 120px 54px;
	}
	.faqs .spb_element_wrapper {
		background-image: url(../img/asset_icons/faqs@2x.png);
		background-size: 120px 54px;
	}
	.spb_revslider .spb_element_wrapper {
		background-image: url(../img/asset_icons/revolution_slider@2x.png);
		background-size: 120px 54px;
	}
	.spb_portfolio_carousel .spb_element_wrapper {
		background-image: url(../img/asset_icons/portfolio_carousel@2x.png);
		background-size: 120px 54px;
	}
	.team_carousel .spb_element_wrapper {
		background-image: url(../img/asset_icons/team_carousel@2x.png);
		background-size: 120px 54px;
	}
	.jobs_overview .spb_element_wrapper {
		background-image: url(../img/asset_icons/jobs_overview@2x.png);
		background-size: 120px 54px;
	}
	.spb_googlechart .spb_element_wrapper {
		background-image: url(../img/asset_icons/google_charts@2x.png);
		background-size: 120px 54px;
	}
	.sitemap .spb_element_wrapper {
		background-image: url(../img/asset_icons/sitemap@2x.png);
		background-size: 120px 54px;
	}
	.spb_divider .spb_element_wrapper {
		background-image: url(../img/asset_icons/divider@2x.png);
		background-size: 120px 54px;
	}
	.spb_blank_spacer .spb_element_wrapper {
		background-image: url(../img/asset_icons/spacer@2x.png);
		background-size: 120px 54px;
	}
	.spb_gmaps .spb_element_wrapper {
		background-image: url(../img/asset_icons/google_maps@2x.png);
		background-size: 120px 54px;
	}
	.spb_search_widget .spb_element_wrapper {
		background-image: url(../img/asset_icons/search@2x.png);
		background-size: 120px 54px;
	}
	.spb_posts_slider .spb_element_wrapper {
		background-image: url(../img/asset_icons/posts_slider@2x.png);
		background-size: 120px 54px;
	}
    .spb_posts_carousel .spb_element_wrapper {
        background-image: url(../img/asset_icons/blog_carousel@2x.png);
        background-size: 120px 54px;
    }
	.spb_testimonial_carousel .spb_element_wrapper {
		background-image: url(../img/asset_icons/testimonial_carousel@2x.png);
		background-size: 120px 54px;
	}
	.clients_featured .spb_element_wrapper {
		background-image: url(../img/asset_icons/clients_featured@2x.png);
		background-size: 120px 54px;
	}
	.spb_testimonial_slider .spb_element_wrapper {
		background-image: url(../img/asset_icons/testimonial_slider@2x.png);
		background-size: 120px 54px;
	}
	.spb_codesnippet .spb_element_wrapper {
		background-image: url(../img/asset_icons/code_snippet@2x.png);
		background-size: 120px 54px;
	}
	.spb_products_mini .spb_element_wrapper {
		background-image: url(../img/asset_icons/shop_products_mini@2x.png);
		background-size: 120px 54px;
	}
	.spb_products .spb_element_wrapper {
		background-image: url(../img/asset_icons/shop_products@2x.png);
		background-size: 120px 54px;
	}
	.spb-latest-tweets .spb_element_wrapper {
		background-image: url(../img/asset_icons/tweets@2x.png);
		background-size: 120px 54px;	
	}
	.spb-tweets-slider .spb_element_wrapper {
		background-image: url(../img/asset_icons/tweets_slider@2x.png);
		background-size: 120px 54px;	
	}
	.spb_parallax .spb_element_wrapper {
		background-image: url(../img/asset_icons/parallax@2x.png);
		background-size: 120px 54px;
	}
	.ct_gallery .spb_element_wrapper {
		background-image: url(../img/asset_icons/gallery@2x.png);
		background-size: 120px 54px;
	}
	.portfolio_showcase .spb_element_wrapper {
		background-image: url(../img/asset_icons/portfolio_showcase@2x.png);
		background-size: 120px 54px;	
	}
	.supersearch .spb_element_wrapper {
		background-image: url(../img/asset_icons/super_search@2x.png);
		background-size: 120px 54px;	
	}
	.alert .messagebox_text {
		background-image: url(../img/asset_icons/message_box_warning@2x.png);
		background-size: 16px 16px;
	}
	.alert-info .messagebox_text {
		background-image: url(../img/asset_icons/message_box_info@2x.png);
		background-size: 16px 16px;
	}
	.alert-success .messagebox_text {
		background-image: url(../img/asset_icons/message_box_success@2x.png);
		background-size: 16px 16px;
	}
	.alert-error .messagebox_text {
		background-image: url(../img/asset_icons/message_box_error@2x.png);
		background-size: 16px 16px;
	}
	.helper-steps .step-one i {
		background-image: url(../img/editor_icons/PB_Element_add@2x.png);
		background-size: 16px 16px;
	}
	.spb_single_image .spb-icon-single-image {
		background-image: url(../img/asset_icons/no_image@2x.png);
		background-size: 16px 16px;
	}
}

/* RESPONSIVE */

@media only screen and (max-width: 1260px) {
	#spb-elements #clear-spb {
		width: 34px;
		text-indent: -9999px;
		padding-right: 0px;
		padding-left: 0px;
	}
}
@media only screen and (max-width: 1185px) {
	.spb-item-slideout li {
		width: 24%;
	}
	.spb-item-slideout li a {
		max-width: 100%;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	#spb-elements .spb_prebuilt_pages, #spb-elements .spb_templates {
		width: 37px;
		text-indent: -9999px;
		padding-right: 0px;
		padding-left: 0px;
	}
	
}
@media only screen and (max-width: 1005px) {
	.navbar .brand {
		display: none;
	}
}
