/* =Styles for 'normal' meta boxes
-------------------------------------------------------------- */

.rwmb-field {
	margin: 10px 0;
}
.rwmb-label,
.rwmb-input {
	display: inline-block;
	vertical-align: top;
}
.rwmb-label {
	width: 24%;
}
.rwmb-label.required > span {
	color: #c00;
	font-weight: bold;
}

/* 75% if field has label, 100% if no label */
.rwmb-input {
	width: 100%;
}
.rwmb-label ~ .rwmb-input {
	width: 75%;
}
.rwmb-input h4 {
	margin: 0;
}
.rwmb-textarea {
	resize: vertical;
}

/* Clone */
.rwmb-clone {
	min-height: 24px;
}
.rwmb-clone > input[type="radio"],
.rwmb-clone > input[type="checkbox"] {
	margin: 6px 0 0 4px;
}
.rwmb-button {
	display: inline;
	float: right;
}

/* Fix width to not overlap button for cloned sliders */
.rwmb-clone .rwmb-slider {
	width: 80%;
	margin: 6px 0 0;
}

/* Fix buttons after sliders */
.clearfix + .rwmb-button {
	margin-top: -16px;
}

/* Fix empty block below admin footer (issue #24) */
#ui-datepicker-div {
	display: none;
}

/* jQuery validation */
label.error {
	padding-left: 3px;
	color: red;
}
input.error,
textarea.error,
select.error {
	border: #c00 solid 1px !important;
	background: #ffebe8 !important;
}


/* =Styles for 'side' meta boxes
-------------------------------------------------------------- */

#side-sortables .rwmb-label,
#side-sortables .rwmb-input {
	width: 100%;
}

h2.meta-box-section {
	border-bottom: 1px solid #CCC;
	padding-bottom: 10px!important;
	margin-top: 5px!important;
}
p.description, .form-wrap p {
	margin: 6px 0 8px;
}

.meta-altbg-preview {
	width: 200px;
	height: 50px;
	border: 1px solid #e4e4e4;
	margin-left: 24.5%;
}
.meta-altbg-preview p {
	text-align: center;
	padding: 4px 0;
}

.rwmb-meta-box {
	padding: 10px;
}
#post-body .rwmb-select {
	height: 26px!important;
}
.ui-datepicker{
    background: white !important;
    border: 1px solid #ccc !important;
}