@font-face {
    font-family: UTMavo;
    src: url(/wp-content/themes/travel/css/font/utmavo.woff);
}

.ug-slider-wrapper .ug-item-wrapper {
    border: 5px solid #117700;
}

.content-text {
    text-align: justify;
}

.office-info {
    overflow: hidden;
    margin-bottom: 15px;
}

.office-image {
    text-align: center;
}

.office-image img {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
}

.office-image p {
    margin-top: 15px;
}

.list-offices > .row {
    margin-left: 0;
    margin-right: 0;
}

.dashline:last-child {
    border: 0;
}

.list-office-contact li {
    float: left;
    width: 50%;
    text-align: center;
    margin: 20px 0;
}

.list-office-contact img {
    border-radius: 50%;
}

.inner {
    padding: 20px;
}

.one_half > iframe {
    width: 100%;
}

.dashline {
    border-top: 1px dashed #666;
    border-bottom: 1px dashed #666;
    height: 5px;
}

.dashline::last-child {
    border: 0;
}

.office-gallery {
    margin-bottom: 50px;
}

.list-offices h3 {
    font-weight: bold;
}

.office-slick-slider {
    
}

.slick-slide {
    height: 566px;
}
.slick-slide img {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.slick-next {
    right: 15px;
}

.slick-prev {
    left: 15px;
    z-index: 1;
}
.slick-prev, .slick-next {
    top: 45%;
}
.slick-prev:before, .slick-next:before {
    font-size: 30px;
}
.list-offices {
    margin-top: 40px;
}

.textwidget h4 {
    background: #117700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 26px;
    font-size: 13px;
    font-family: "Roboto";
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}

#black-studio-tinymce-4 {
    border: 0px;
    background-color: transparent;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, #C7F2A3 100%) repeat scroll 0 0 #fff;
}

.z-page {
    padding-left: 0px;
    padding-right: 9px;
}

.z-head {
    position: relative;
    min-height: 521px;
    background-image: url('/wp-content/themes/travel/images/z-page/background-img-top.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #ffffff;
}

@media (min-width: 768px) {
    .z-left,
    .z-right {
        width: 30%;
    }
    .z-center {
        width: 40%;
    }
}

.z-left {
    background-image: url('/wp-content/themes/travel/images/z-page/left.png');
    background-repeat: no-repeat;
    min-height: 521px;
    background-size: 100%;
    background-position: bottom;
    position: relative;
}

.z-left p {
    position: absolute;
    bottom: 70px;
    left: 50px;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    color: #ffffff;
}

.z-center {
    background-image: url('/wp-content/themes/travel/images/z-page/human.png');
    background-repeat: no-repeat;
    min-height: 521px;
    background-size: 100%;
    background-position: 15px center;
}

.z-right {
    background-image: url('/wp-content/themes/travel/images/z-page/right.png');
    background-repeat: no-repeat;
    min-height: 521px;
    background-size: 100%;
    background-position: bottom;
    position: relative;
}

.z-right p {
    position: absolute;
    bottom: 70px;
    left: 50px;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    color: #ffffff;
}

@media screen and (max-width: 992px) {
    .list-offices {
        text-align: center;
    }
    .slick-slide {
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .office-map iframe {
        width: 100%;
    }
    .z-head {
        position: relative;
        overflow: auto;
    }
    .z-left {
        background-image: url('/wp-content/themes/travel/images/z-page/left.png');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom;
        position: relative;
        margin-top: 100px;
        min-height: 304px;
    }
    .z-left p {
        position: static;
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        color: #ffffff;
        margin-top: 100px;
    }
    .z-center {
        background-image: url('/wp-content/themes/travel/images/z-page/human.png');
        background-repeat: no-repeat;
        min-height: 350px;
        background-size: 100%;
        background-position: 15px center;
    }
    .z-right {
        background-image: url('/wp-content/themes/travel/images/z-page/right.png');
        background-repeat: no-repeat;
        min-height: auto;
        background-size: 100%;
        position: relative;
        min-height: 304px;
    }
    .z-right p {
        position: static;
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        color: #ffffff;
        margin-top: 100px;
    }
}

.z-r-one {
    background-image: url(/wp-content/themes/travel/images/z-page/z-r-one.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 120px;
    position: relative;
    margin-right: 0px;
    margin-left: 0px;
}

.z-r-one p {
    text-align: center;
    font-size: 18px;
    font-family: Roboto;
    line-height: 72px;
    color: #ffffff;
}

.z-r-one a {
    background-color: #ffffff;
    padding: 5px;
    color: #ff0000;
    border-radius: 3px;
    font-weight: bold;
    position: absolute;
    bottom: 30px;
    right: 24%;
    font-size: 17px;
}

@media screen and (max-width: 768px) {
    .z-r-one {
        background-image: none;
        background-color: #117700;
        min-height: 0px;
        position: relative;
        margin-right: 0px;
        margin-left: 0px;
        text-align: center;
        padding: 20px 15px;
    }
    .z-r-one p {
        text-align: center;
        font-size: 18px;
        font-family: UTMavo;
        line-height: 24px;
        color: #ffffff;
    }
    .z-r-one a {
        background-color: #ffffff;
        padding: 5px;
        color: #ff0000;
        border-radius: 3px;
        font-weight: bold;
        position: static;
        margin: auto;
        font-size: 17px;
    }
}

.z-section-3 {
    min-height: 245px !important;
    background-color: #ffffff;
    padding-left: 0px;
    padding-right: 0px;
    background-image: url('/wp-content/themes/travel/images/z-page/section-3.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 50px;
    background-color: #ffffff;
}

.z-3-left {
    padding-top: 35px;
}

.z-3-left .text {
    font-size: 32px;
    font-family: UMTavo;
    color: #ffffff;
    text-align: center;
    padding-top: 36px;
}

.z-3-right {
    padding-bottom: 30px;
    text-align: center;
}

.z-3-right .text p {
    font-size: 23px;
    font-family: UMTavo;
    color: #ffffff;
    text-align: center;
    padding-top: 45px;
}

.z-3-right .text a {
    background-color: #ffffff;
    display: inline-block;
    padding-top: auto;
    text-decoration: none;
    padding: 5px;
    color: #ff0000;
    border-radius: 3px;
    font-weight: bold;
    font-size: 17px;
    line-height: 17px;
}

@media screen and (max-width: 768px) {
    .z-section-3 {
        min-height: 245px !important;
        background-color: #ffffff;
        padding-left: 0px;
        padding-right: 0px;
        background-image: none;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .z-3-left {
        padding-top: 35px;
        margin-bottom: 0px;
    }
    .z-3-left img {
        margin: auto;
    }
    .z-3-left .text {
        font-size: 32px;
        font-family: UMTavo;
        color: #000000;
        text-align: center;
        padding-top: 0px;
    }
    .z-3-right {
        padding-bottom: 0px;
        text-align: center;
    }
    .z-3-right .text p {
        font-size: 23px;
        font-family: UMTavo;
        color: #000000;
        text-align: center;
        padding-top: 0px;
    }
    .z-3-right .text a {
        background-color: #d6d6d6;
        display: inline-block;
        padding-top: auto;
        text-decoration: none;
        padding: 5px;
        color: #ff0000;
        border-radius: 3px;
        font-weight: bold;
        font-size: 17px;
        line-height: 17px;
    }
}

.z-section-4 {
    background-color: #ffffff;
    margin: 0px;
}

.z-section-4 .z-4-left {
    background-color: #f3f3f3;
    color: #ec8512;
    padding-left: 30px;
    font-family: 'Roboto', sans-serif !important;
    position: relative;
    font-size: 14px;
}

.z-section-4 .z-4-left .z-ghim {
    position: absolute;
    top: -19px;
    right: 0px;
}

.z-section-4 .z-4-left h3 {
    font-weight: 400;
}

.z-section-4 .z-4-left ul li {
    padding-left: 15px;
    background-image: url('/wp-content/themes/travel/images/z-page/v.png');
    background-repeat: no-repeat;
    background-position: left;
    font-family: 'Roboto', sans-serif !important;
    color: #EC7C00;
    font-weight: 500;
}

.z-section-4 .z-4-left ul li {
    line-height: 28px;
}

.z-section-4 .z-4-left .voir-plus {
    position: absolute;
    bottom: 5px;
    right: 15px;
}

.z-section-4 .z-4-left .voir-plus i {
    color: #7ad420;
}

.z-section-4 .z-4-right .z-title {
    display: inline-block;
    background-image: url('/wp-content/themes/travel/images/z-page/h3-bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px 40px;
    background-position: center;
    margin-top: -20px;
}

.z-section-4 .z-4-right .z-title h3 {
    font-size: 24px;
    color: #ffffff;
    margin: 0px;
}

.z-section-4 .z-4-right img {
    width: 90%;
    margin: auto;
    margin-top: -20px;
}

.z-section-5 {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 25px;
    background-color: #ffffff;
    padding-bottom: 4px;
}

.z-section-5 .z-column img {
    margin: auto;
}

.z-section-5 .z-column h3 {
    font-size: 13px;
    text-align: center;
}

.z-sale img {
    margin: auto;
    padding-top: 10px;
}

#text-3 {
    text-align: center;
}

#text-3 ul {
    display: inline-block;
}

.z-social {
    text-align: center;
}

.z-social ul li {
    float: none;
}

.f-captchac .wpcf7-form-control-wrap {
    float: right;
}

.form-tour .f-btn {
    clear: both;
}

@media  screen and (min-width: 481px) and (max-width: 768px){
    .z-left {
        background-image: url('/wp-content/themes/travel/images/z-page/left.png');
        background-repeat: no-repeat;
        min-height: 536px;
        background-size: 100%;
        background-position: bottom;
        position: relative;
    }
    .z-left p {
        position: absolute;
        bottom: 157px;
        left: 126px;
        font-size: 34px;
    }
    .z-center {
        min-height: 544px;
    }
    .z-right {
        background-image: url('/wp-content/themes/travel/images/z-page/right.png');
        background-repeat: no-repeat;
        min-height: 536px;
        background-size: 100%;
        background-position: bottom;
        position: relative;
    }
    .z-right p {
        position: absolute;
        bottom: 157px;
        left: 126px;
        font-size: 34px;
    }
}