@import "css3";
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
/* --------------------------------------------
	Modify at 09/12/2015
	@author by choijun
-------------------------------------------- */
$body-font-family: 'Oxygen', Helvetica, Arial, sans-serif;
$border-color:#ddd;
$orange : #F14F00;
$green : #477821;
$blue : #117700;
$lightblue:#004388;
.nav-tab-toggle{
  display: none;
}
.tab-content > .active{
  display: block !important;
}

/* BOOK FORM */
.form-book-mobile{
  display: none;
  .form-row{
    .wpcf7-textarea,
    .wpcf7-number,
    .wpcf7-date,
    .wpcf7-text{
      padding: 5px 10px;
      border: 1px solid $blue;
      @include border-radius(4px);
      @include box-shadow(0 0 3px 0 rgba(0, 0, 0, 0.275) inset);
    }
    .wpcf7-number,
    .wpcf7-date,
    .wpcf7-text{
      max-width: 280px;
      width: 100%;
      height: 35px;
    }
    .wpcf7-form-control-wrap{
      width: 100%;
      &.adultes,
      &.enfants,
      &.bebe{
        width: 80px;
        select{
          width: 100%;
        }
      }
      &.depart_vers{
        &:before{
          content: "\f073";
          font-family: FontAwesome;
          left: 5px;
          position: absolute;
          top: 12px;
        }
        input{
          width: 100%;
          padding-left: 25px;
        }
      }
      &.hebergement{
        .wpcf7-list-item{
          width: 100px;
          height: 100px;
          float: left;
          margin: 0;
          position: relative;
          background-image: url("../images/room1.jpg");
          background-size: cover;
          &:nth-child(2){
            background-image: url("../images/room2.jpg");
          }
          &:nth-child(3){
            background-image: url("../images/room3.jpg");
          }
          &:nth-child(4){
            background-image: url("../images/room4.jpg");
          }
          &:before {
            background-color: #fff;
            content: "";
            height: 100%;
            left: 0;
            opacity: 0.3;
            position: absolute;
            top: 0;
            width: 100%;
          }
          &.is_checked{
            &:before{
              opacity: 0;
            }
            label:before{
              display: block;
            }
          }
          .wpcf7-list-item-label{
            color: greenyellow;
            position: absolute;
            left: 50%;
            bottom: 0%;
            font-size: 20px;
            font-weight: bold;
            @include translate("-50%,0%");
          }
          label{
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            cursor: pointer;
            &:before{
              content: "\f046";
              font-family: FontAwesome;
              font-size: 30px;
              font-weight: normal;
              left: 5px;
              position: absolute;
              top: 10px;
              display: none;
              color: #fff;
            }
            input{
              display: none;
            }
          }
        }
      }
      &.type_de_voyage,
      &.destination{
        margin-top: 10px;
        .wpcf7-list-item{
          display: block;
          margin-bottom: 0;
          margin-left: 30px;
          margin-right: 0;
          margin-top: 0;
          text-align: right;
          width: 200px;
          label{
            width: 100%;
          }
        }
      }
    }
    .desc-text{
      margin-left: 15px;
    }
    > label{
      width: 100%;
      > span{
        &:first-child{
          display: block;
          font-weight: bold;
          line-height: 30px;
          color: $blue;
        }
      }
      br{
        display: none;
      }
      .help-text{
        font-size: 14px;
      }
    }
  }
}
@media (min-width: 1024px) {
  .home.page .spb_text_introduce_widget + .spb_recent_posts_widget .recent-post{
    display: none;
    &:nth-child(1),
    &:nth-child(2){
      display: block;
    }

  }
}
@media (max-width: 1025px) {
  body{
    background: #eee;
    font-family: $body-font-family;
    font-size: 15px;
    color: #000;
    &.page.page-id-238 .page-content-inner,
    &.single #demander-un-devis{
      .form-tour{
        display: none;
      }
      .form-book-mobile{
        display: block;
      }
    }
  }
  .page.page-id-238 .page-content-inner{
    padding: 10px;
    > h2{
      background: $blue;
      font-size: 20px;
      line-height: 26px;
      padding: 10px;
      color: #fff;
      text-align: left;
      margin: -10px -10px 15px;
      span{
        color: inherit !important;
      }
    }
  }
  .title-category .title-category{
    background: none;
    padding: 0 !important;
  }
  .related-item-list a,
  .body-text{
    font-size: 15px;
    font-family: inherit;
  }
  .related-item-list a,
  h1, h2, h3, h4, h5{
    font-family: inherit;
  }
  #container{
    width: 100%;
  }
  .excerpt p, .excerpt{
    color: #000;
  }
  .custom-caption p,
  span.dropcap1,
  span.dropcap2,
  span.dropcap3,
  span.dropcap4,
  .spb_call_text,
  .impact-text,
  .impact-text-large,
  .testimonial-text,
  .header-advert,
  .ct-count-asset .count-number,
  #base-promo, .ct-countdown,
  .ct-icon-character, .fancy-heading h1{
    font-family: inherit;
  }

  /* Header */
  .header-wrap{
    position: relative;
    background: #fff;
    margin-left: -9px;
    margin-right: -9px;
    @include box-shadow(1px 1px 3px 0px rgba(50, 50, 50, 0.35));
    #top-bar{
      min-height: 0;
      padding: 0 9px;
      .tb-right{
        display: none;
      }
      .tb-left{
        float: left;
      }
      #logo{
        float: left;
        width: 50px;
        height: 50px;
        margin: 0;
        a{
          width: 100%;
          &:before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 60px;
          }
        }
        img{
          max-width: 100%;
          max-height: 100%;
        }
      }
      .text-header{
        float: left;
        padding: 0;
        width: auto;
        .tb_certer_header{
          font-size: 17px;
          line-height: 50px;
        }
        .tb_certer_header_desc{
          display: none;
        }
      }
    }
  }
  #header-section{
    z-index: 9;
    position: static;
    //padding: 9px;
    background: none;
    &:before{
      display: none;
    }
    > .coo-menu-primary{
      .menu-primary-container{
        display: none;
      }
    }
    .mobile-menu-show{
      color: $orange;
      display: block !important;
      font-size: 24px;
      position: absolute;
      z-index: 10;
      top: 0;
      right: 0px;
      width: 50px;
      height: 40px;
      line-height: 37px;
      margin: 5px 0;
      border-width: 0px 0px 0px 1px;
      border-color: $border-color;
    }
    .menu-search{
      display: none;
      width: 100%;
      padding-right: 10px;
      background: $blue;
      #searchform{
        width: 100%;
      }
      .form-control{
        height: 30px;
      }
    }
  }
  /*  Menu */
  #mobile-menu-wrap{
    right: -240px;
    width: 240px;
    background: $lightblue;
    display: block;
    .mobile-search-form{
      border-top-color: #2270c1;
    }
    #mobile-menu ul li{
      border-top-color: #2270c1;
      a:active,
      a:hover{
        background: #1462b2 !important;
      }
    }
  }
  #container{
    @include transition(transform .5s ease);
  }
  .mobile-menu-open {
    #mobile-menu-wrap,
    #container{
      @include transform(translate3d(-240px, 0px, 0px))
    }
    #header-section .mobile-menu-show{
      color: $blue;
    }
  }
  /* Main */
  .out_site_fly{
    .widget-fly {
      width: 100%;
      bottom: -130px;
      top: auto;
      left: 0;
      right: 0;
      height: 130px;
      border: none;
      @include transition(bottom .2s ease);
      &.active_fly{
        bottom: 0;
        .widget-heading{
          bottom: 130px;
        }
      }
      .sidebar-fly{
        li{
          padding: 10px 0;
          &:first-child{
            padding: 15px 0;
          }
          .call-free,
          .call-two{
            display: none;
          }
          .call-small{
            font-size: 14px;
            &:before{
              content: "\f232";
              font-family: FontAwesome;
              font-size: 30px;
              position: relative;
              top: 6px;
            }
          }
        }
        .button-fly{
          display: block;
          height: auto;
          width: 100%;
          span:first-child{
            padding-top: 0;
          }
        }
      }
      .widget-heading{
        position: fixed;
        bottom: 0;
        top: auto;
        width: 100%;
        z-index: 9;
        left: 0;
        background: #e62702;
        @include transform(none);
        @include transition(bottom .2s ease);
        .spb-heading{
          line-height: 40px;
        }
        span{
          margin-left: 15px;
          position: relative;
          &:before{
            content: "\f044";
            font-family: FontAwesome;
            font-size: 24px;
            left: -30px;
            position: absolute;
          }
        }
      }
    }
  }
  #page-wrap{
    padding: 0;
  }
  .inner-page-wrap{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .home .page-content-inner{
    padding: 0;
    border: none;
    background: none;
    > .row{
      margin-left: 0;
      margin-right: 0;
      background: none;
      > .spb_content_element{
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        @include box-shadow(0px 0px 2px rgba(0,0,0,.2));
        &.spb_image_slider_widget{
          padding-right: 0;
          padding-left: 0;
          padding-top: 0;
          margin-top: 0;
        }
        &.spb_text_introduce_widget{
          margin-bottom: 15px;
        }
      }
      > .spb_posts_carousel_widget{
          padding-left: 0;
          padding-right: 0;
      }
      > .spb_title_divider_widget{
        background: $blue;
        padding: 0;
        margin-bottom: 0;
        max-width: 100%;
        > .content{
          padding: 0;
          &:before{
            display: none;
          }
        }
        .title_block{
          display: block;
          background: none;
          text-align: left;
          color: #fff;
          font-size: 20px;
          font-style: normal;
          font-family:inherit;
          line-height: normal;
          padding: .5em 1em;
        }
      }
      .category_widget,
      .spb_head_column,
      .spb_image_slider_widget{
        max-width: none;
      }
    }
    .recent-posts-wrap{
      .recent-posts{
        margin-top: 0;
        margin-bottom: 0;
        .recent-post{
          width: 50%;
          float: left;
          margin-bottom: 0;
        }
        .details-wrap{
          height: auto;
        }
      }
    }
    .item-category{
      width: 50%;
      float: left;
      margin-bottom: 0;
    }
    .spb_image_single_widget{
      width: 50%;
      float: left;
    }

  }
  .spb_image_slider_widget{
    margin: -10px;
  }
  .spb_text_introduce_widget .content.align_right {
    padding-left: 60px;
    padding-top: 10px;
  }
  .spb_text_introduce_widget .content.align_left{
    padding-right: 60px;
    padding-top: 10px;
  }
  .spb_text_introduce_widget .content{
    height: calc(100% - 20px);
    height: -webkit-calc(100% - 20px);
    height: -moz-calc(100% - 20px);
  }
  .desception-category,
  .excerpt p, .excerpt,
  .brand-item .excerpt p,
  .recent-post h5,
  .recent-post-inner .excerpt p{
    font-size: 15px;
  }
  .spb_posts_carousel_widget .carousel-wrap{
    margin: 0;
  }
  .category_widget{
    margin-top: 0;
    > .row{
      margin-bottom: 0;
    }
    .item-category{
      .title-category{
        font-size: 13px;
        padding-bottom: 10px;
        padding-top: 10px;
      }
    }
  }
  .recent-posts-wrap{
    .recent-posts{
      .recent-post{
        .recent-post-inner{
          background: #fff;
        }
        .icon-recent{
          display: none;
        }
      }
    }
  }
  /* Footer */
  #footer {
    background: none;
    font-size: 15px;
    a{
      font-size: 15px;
    }
    .col-sm-6{
      margin-bottom: 0;
    }
    .widget{
      overflow: visible;
      height: auto;
      margin-bottom: 20px;
      margin-left: -9px;
      margin-right: -9px;
      background: #fff;
      @include box-shadow(0px 0px 2px rgba(0,0,0,.2));
      ul{
        padding-bottom: 10px;
      }
    }
    .widget-heading{
      background: $blue;
      font-size: 20px;
      line-height: 26px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #fff;
      text-align: left;
      h6{
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        margin: 0;
        padding: 0 20px;
        &:before{
          display: none;
        }
      }
    }
  }

  #copyright{
    padding: 20px 0;
    margin-bottom: 50px;
  }
  iframe{
    max-width: 100%;
  }
  .category_widget .item-category .item-category-inner{
    overflow: hidden;
    .title-category:before{
      bottom: 0;
      content: "";
      height: 400px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
  .page-heading {
    display: none;
  }
  .coo-main{
    .page-content-inner{
      padding: 10px;
      .title-page{
        background: $blue;
        font-size: 20px;
        line-height: 26px;
        padding: 10px 20px;
        font-weight: normal;
        margin: -10px -10px 15px -10px;
        color: #fff;
        text-align: left;
      }
    }
  }
  .archive-page{
    .page-content-inner{
      background: none;
      padding: 0;
      border: none;
      .heading-cuisine,
      .heading-text{
        background: $blue;
        font-size: 20px;
        line-height: 26px;
        padding: 10px 20px;
        font-weight: normal;
        margin: 0;
        color: #fff;
        text-align: left;
      }
      .desception-category{
        background: #fff;
        padding: 10px 10px 10px;
        border: none;
        @include box-shadow(0px 0px 2px rgba(0,0,0,.2));
        &:before{
          display: none;
        }
      }
    }
    .archive-wrap{
      background: none;
      margin: 0 -10px;
      .blog-item{
        padding: 0 10px;
        margin-bottom: 20px;
        background: #fff;
        @include box-shadow(0px 0px 2px rgba(0,0,0,.2));
        > .archive-title{
          font-size: 18px;
          color: $blue;
          padding: 15px 0;
          margin: 0;
          * {
            color: inherit;
            font-size: inherit;
            line-height: inherit;
          }
          .single-tour-time{
            &:before{
              content: "-";
            }
          }
        }
        figure {
          margin-bottom: 0;
          img{
            border: none;
            padding: 0;
          }
          .single-tour-code{
            position: absolute;
            bottom: 0;
            color: #fff;
            font-weight: normal;
            padding: 3px 10px;
            background: rgba(0,0,0,.5);
            left: 50%;
            @include translate("-50%,0");
            @include border-radius(3px 3px 0 0);
          }
        }
        .group-title{
          display: none;
        }
        .btn-readmore{
          display: none;
        }
      }
    }
  }
  .archive-post{
    >.post-content,
    .page-content-inner{
      background: none;
      padding: 0;
      border: none;
      .article-body-wrap{
        &:before{
          display: none;
        }
        .single-title{
          background: $blue;
          font-size: 20px;
          line-height: 26px;
          padding: 10px 20px;
          font-weight: normal;
          margin: 0 -10px 15px;
          color: #fff;
          text-align: left;
        }
        background: #fff;
        padding: 0px 10px 10px;
        border: none;
        @include box-shadow(0px 0px 2px rgba(0,0,0,.2));
      }
    }

  }

  .archive-page  .page-content-inner > .blog-wrap,
  .archive-post  .page-content-inner > .blog-wrap,
  .post-content > .related-wrap{
    overflow: visible;
    .related-wrap{
      overflow: visible;
    }
    .related-items{
      margin-left: 0;
      margin-right: 0;
    }
    .title-related{
      background: $blue;
      font-size: 20px;
      line-height: 26px;
      padding: 10px 20px;
      font-weight: normal;
      margin: 10px 0px 15px 0px;
      color: #fff;
      text-align: left;
    }
    .related-item{
      background: #fff;
      @include box-shadow(0px 0px 2px rgba(0,0,0,.2));
      margin-bottom: 20px;
      padding-top: 50px;
      padding-bottom: 10px;
      figure{
        padding: 0;
        border: none;
        @include border-radius(0);
      }
      h5{
        position: absolute;
        top: 0;
        font-size: 18px;
        color: $blue;
        padding: 15px 0;
        margin: 0;
        width: 100%;
        text-align: left;
        * {
          color: inherit;
          font-size: inherit;
          line-height: inherit;
        }
      }
    }
    .related-item-list{
      padding-left: 20px;
      &:before{
        left: 0;
      }
    }
  }

  .tax-aboutus-category{
    .archive-page{
      .blog-items.mini-items.about-us-items{
        .about-us-item{
          padding: 10px;
          background: #fff;
          margin-bottom: 20px;
          @include box-shadow(0px 0px 2px rgba(0,0,0,.2));
          &:after,
          &:before{
            display: none;
          }
          .title{
            padding-bottom:0;
          }
          figure{
            width: 100px;
            padding-right: 15px;
          }
        }
      }
    }
  }
  .single-aboutus{
    .archive-post{
      .article-body-wrap{
        .single-title{
          position: absolute;
          top: 0;
          width: 100%;
        }
        .media-wrap-aboutus {
          text-align: center;
          img{
            border: none;
            margin-top: 60px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            @include border-radius(0);
        }
      }
    }
  }
}
  .tax-special-category{
    .archive-page{
      .mini-items{
        .about-special-item{
          padding: 10px;
          background: #fff;
          margin-bottom: 20px;
          @include box-shadow(0px 0px 2px rgba(0,0,0,.2));
          .mini-special-wrap{
            padding: 0;
            border: none;
          }
          figure{
            padding: 10px 20px 5px 0;
          }
          .title{
            padding-left: 0;
            padding-bottom: 5px;
          }
          .special-details-wrap{
            overflow: visible;
          }
        }
      }
    }
  }

  .page-template-page-about-us{
    .page-content-inner{
      padding: 0;
      border: none;
      background: none;
      .title-page{
        margin: 0;
      }
      .content-page{
        padding: 10px;
        background: #fff;
        @include box-shadow(0px 0px 2px rgba(0,0,0,.2));
        &:before{
          display: none;
        }
      }
      .content-page-category{
        .text-des{
          background: $blue;
          font-size: 20px;
          line-height: 26px;
          padding: 10px 20px;
          font-weight: normal;
          margin: 10px 0px 15px 0px;
          color: #fff;
          text-align: left;
        }
        li.media{
          padding: 10px;
          background: #fff;
          margin-bottom: 15px;
          @include box-shadow(0px 0px 2px rgba(0,0,0,.2));
          .category-img{
            padding-right: 15px;
          }
          .img-des-category{
            height: auto;
            width: 200px;
            @include border-radius(0);
          }
          .title-des-category{
            color: $blue;
            font-size: 16px;
            a{
              color: inherit;
            }
          }
        }
      }
    }
  }
  .tax-brand-category,
  .tax-book-category{
    .page-content-inner{
      .desception-category{
        margin-bottom: 20px;
      }
      .blog-items,
      .book-items{
        padding: 0;
        .brand-item{
          padding: 10px;
          background: #fff;
          margin-bottom: 20px;
          @include box-shadow(0px 0px 2px rgba(0,0,0,.2));
          .mini-brand-item-wrap,
          .mini-book-item-wrap{
            border: none;
          }
          figure{
            padding: 0 30px;
          }
          .title{
            color: $blue;
            text-align: left;
            font-size: 16px;
            a{
              color: inherit;
            }
          }
        }
      }
    }
  }
  .tax-embassies-category{
    .page-content-inner{
      .desception-category{
        margin-bottom: 20px;
      }
      .embassies-items{
        padding: 0;
        .brand-embassies{
          padding: 10px;
          background: #fff;
          margin-bottom: 20px;
          @include box-shadow(0px 0px 2px rgba(0,0,0,.2));
          &:before{
            display: none;
          }
          .mini-book-item-wrap{
            border: none;
          }
          figure{
            padding:10px;
          }
          .title{
            color: $blue;
            a{
              color: inherit;
            }
          }
        }
      }
    }
  }
  .tax-responsibility-category{
    .page-content-inner{
      padding: 0;
      border: none;
      background: none;
      .title-page{
        margin: 0;
      }
      .content-page{
        padding: 10px;
        background: #fff;
        @include box-shadow(0px 0px 2px rgba(0,0,0,.2));
        &:before{
          display: none;
        }
      }
      .blog-wrap{
        .text-des{
          background: $blue;
          font-size: 20px;
          line-height: 26px;
          padding: 10px 20px;
          font-weight: normal;
          margin: 10px 0px 15px 0px;
          color: #fff;
          text-align: left;
        }
        li.media{
          padding: 10px;
          background: #fff;
          margin-bottom: 15px;
          @include box-shadow(0px 0px 2px rgba(0,0,0,.2));
          .category-img{
            padding-right: 15px;
          }
          .img-des-category{
            height: auto;
            width: 200px;
            @include border-radius(0);
          }
          .title-des-category{
            color: $blue;
            font-size: 16px;
            a{
              color: inherit;
            }
          }
        }
      }
    }
  }
  .single-responsibility{
    .responsibility-wrap{

      .text-des{
        background: $blue;
        font-size: 20px;
        line-height: 26px;
        padding: 10px 20px;
        font-weight: normal;
        margin: 0 0px 15px;
        color: #fff;
        text-align: left;
      }
      .blog-wrap{
        li.media-responsibility{
          background: #fff;
          padding: 10px 10px 10px;
          border: none;
          margin: 0 0 15px;
          @include box-shadow(0px 0px 2px rgba(0,0,0,.2));
          .title-des-category{
            color: $blue;
            font-size: 16px;
            a{
              color: inherit;
            }
          }
        }
      }
    }
  }
  .title-image.col-md-12{
    margin-bottom: 0;
  }
  .tax-testimonials-category{
    .page-content-inner{
      .head-page{
        &:after,
        &:before{
          display: none;
        }
      }
      .blog-wrap{
        .testimonial-items{
          border: none;
          .brand-item{
            padding: 10px;
            background: #fff;
            margin-bottom: 20px;
            @include box-shadow(0px 0px 2px rgba(0,0,0,.2));
            .testimonial-wrap{
              .ts-mail,
              .information-tesimonial{
                width: 50%;
              }
            }
            figure{
              padding: 0;
              border: none;
              @include border-radius(0);
            }
            .testimonial-details-wrap{
              overflow: visible;
              padding-left: 0;
              padding-right: 0;
            }
          }
        }
      }
    }
  }
  .desception-category:empty{
    display: none;
  }
  .tax-faqs-category{
    .page-content-inner{
      .blog-items{
        border: none;
        .brand-item{
          padding: 10px;
          background: #fff;
          margin-bottom: 20px;
          @include box-shadow(0px 0px 2px rgba(0,0,0,.2));
          .mini-brand-item-wrap{
            border: none;
            padding-top: 0;
          }
          .title-faqs{
            color: $blue;
            font-size: 16px;
            padding-bottom: 0;
            a{
              color: inherit;
            }
          }
          .brand-details-wrap{
            padding: 0;
            margin-top: 10px;
          }
        }
      }
    }
  }
  .single{
    .archive-post{
      .post-content-single{
        padding: 0;
        background: none;
        .single-thumb-image{
          border: none;
        }
        .single-body-wrap{
          padding: 0;
          .descrition{
            background: #fff;
            padding: 10px 15px 0px 20px;
            line-height: 40px;
            margin-bottom: 20px;
            @include box-shadow(0px 1px 2px rgba(0,0,0,0.2));
          }
          .spb_tabs{
            .nav.nav-tabs{
              display: none;
            }
          }
          .tab-pane{
            background: #fff;
            @include box-shadow(0px 1px 2px rgba(0,0,0,0.2));
            .spb_content_element{
              padding-top: 15px;
              padding-bottom: 15px;
            }
          }
          .nav-tab-toggle{
            display: block;
            background: #ddd;
            color: $blue;
            clear: both;
            margin: 15px 0 0;
            font-size: 16px;
            @include border-radius(4px);
            @include box-shadow(0px 1px 2px rgba(0,0,0,0.2));
            a{
              color: inherit;
              display: block;
              padding: 5px 10px;
              &:after{
                content: "\f0d7";
                font-family: FontAwesome;
                position: absolute;
                right: 20px;
              }
              &.active{
                &:after{
                  content: "\f0d8";
                }
              }
              &[href="#demander-un-devis"]{
                background: #e62702;
                color: #fff;
                font-weight: bold;
                @include border-radius(4px);
              }
            }
          }
        }
        .related-wrap{
          padding: 0;
          .title-related{
            background: $blue;
            font-size: 20px;
            line-height: 26px;
            padding: 10px 20px;
            font-weight: normal;
            margin: 15px 0;
            color: #fff;
            text-align: left;
          }
        }
      }
    }
  }
  .search{
    .page-content-inner{
      .search-items{
        margin: 0;
        .blog-item{
          padding: 10px;
          background: #fff;
          margin-bottom: 20px;
          @include box-shadow(0px 0px 2px rgba(0,0,0,.2));
          time{
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .pagination-wrap a:hover{
    color: $blue;
  }
  .pagination-wrap li span.current{
    background: $blue;
  }
  .left-sidebar .sidebar-inner{
    > .widget{
      background: #fff;
      border: none;
      @include box-shadow(0 0 2px rgba(0, 0, 0, 0.2));
      &.widget_service ul{
        border: none;
      }
    }
    .widget-heading{
      background: $blue;
      font-size: 20px;
      line-height: 26px;
      text-align: left;
      padding: 10px;
      font-weight: normal;
      .spb-heading{
        line-height: inherit;
        color: inherit;
        text-align: inherit;
        font-size: inherit;
        text-transform: inherit;
        font-weight: inherit;
      }
    }
  }
  .single-post .archive-post .post-content-single .related-wrap {
    .related-items li{
      width: 100%;
    }
    .owl-item {
      .item-category-inner{
        img{
          width: 100%;
        }
      }
    }
  }
  .page-id-1529{
    .page-content-inner{
      > .destination-block.clearfix{
        display: none;
      }
      .content-page-category{
        > .text-des{
          display: none;
        }
      }
    }
  }
  .information-tesimonial > * {
    font-size: 15px;
    line-height: 24px;
  }
  .left-sidebar,
  .right-sidebar{
    .widget ul{
      padding-left: 20px;
      padding-right: 10px;
      li{
        a{
          font-size: 14px;
          line-height: 26px;
        }
      }
    }
  }
  .widget.widget_service ul li{
    font-size: 15px;
  }
  .left-sidebar .sidebar-inner > .widget.widget_service ul{
    padding-left: 25px;
  }
  .page.page-id-149,
  .page.page-id-124{
    .page-content-inner{
      .form-newletter{
        display: none;
      }
      .form-book-mobile{
        display: block;
      }
    }
  }

}
@media (max-width: 1025px) and (min-width: 768px) {
  .left-sidebar.col-md-pull-6,
  .left-sidebar.col-sm-3.col-sm-pull-9{
    right: 75%;
    width: 25%;
    margin-bottom: 20px;
  }
  .coo-main.col-md-6.col-md-push-3,
  .coo-main.col-md-9.col-sm-push-3,
  .page-content.col-md-9.col-sm-push-3{
    left: 25%;
    width: 75%;
  }
  .right-sidebar.col-md-3{
    float: left;
    right: 75%;
    width: 25%;
    h4.spb-heading {
      padding-bottom: 5px;
      padding-top: 5px;
    }
  }
  #footer{
    padding: 0 9px;
    .widget{
      min-height: 200px;
    }
  }
  .home .page-content-inner .wp-image-68 {
    min-height: 328px;
  }
  /*  Single Destination */
  .page-template-page-sea,
  .page-template-page-destination{
    .destination-block{
      padding: 20px 10px;
    }
    ul.destination-list-ul li{
      width: 150px;
    }
    .destination-img img {
      max-width: 150px;
    }
    .content-page-category{
      margin-left: -9px;
      margin-right: -9px;
      > .text-des{
        padding-right: 10px;
        padding-left: 10px;
      }
      .item-destination-inner{
        height: auto;
      }
      .item-destination{
        width: 50%;
        float: left;
        &:nth-child(2n){
          clear: both;
        }
        .title-category{
          position: static;
        }
        .icon-read-more{
          display: none;
        }
        img{
          max-height: 170px;
          width: 100%;
        }
      }
    }
  }
  .page-template-page-sea .content-page-category .item-destination{
    &:nth-child(2n){
      clear: none;
    }
    &:nth-child(2n+1){
      clear: both;
    }
  }
  .content-page-category .item-destination .title-category{
    font-size: 14px;
    padding: 5px 0;
  }
  /* Single Tour */
  .page-template-page-booking{
    .content-page-category{
      margin-left: -9px;
      margin-right: -9px;
      .item-destination-inner{
        height: auto;
      }
      .item-destination{
        width: 50%;
        float: left;
        &:nth-child(2n + 1){
          clear: both;
        }
        .title-category{
          position: static;
        }
        .icon-read-more{
          display: none;
        }
        img{
          max-height: 170px;
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 991px) and (min-width: 768px){
  .home.page{
    .spb_text_introduce_widget{
      .content{
        &.align_left{
          padding-right: 110px;
        }
        &.align_right{
          padding-left: 110px;
        }
      }
      .spb_call_text {
        font-size: 16px;
        max-height: none;
        position: relative;
        top: 50%;
        @include translate("0,-50%");
      }
    }
  }
}
@media (max-width: 767px) {
  .left-sidebar .widget ul.recent-testimonials-list, .right-sidebar .widget ul.recent-testimonials-list {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  .fancybox-opened .fancybox-skin{
    padding: 0 !important;
    .fancybox-close{
      display: none !important;
    }
    .fancybox-nav{
      span{
        visibility: visible;
      }
    }
  }
  .page-content.col-md-9.col-sm-push-3{
    width: 100%;
    left: 0;
  }
  #main-container .left-sidebar{
    width: 100%;
    display: block;
    right: 0%;
    left:0;
  }
  .item-destination-inner{
    height: auto;
  }
  .content-page-category li{
    padding-bottom: 0;
  }
  .home .row.home-special-fix{
    > .spb_content_element{
      &:nth-child(2){
        width: 120px;
        float: left;
        z-index: 2;
        margin-top: 40px;
        margin-left: 30px;
        margin-right: 20px;
        @include box-shadow(none);
      }
      &:nth-child(3n){
        @include box-shadow(none);
      }
    }
  }
}
@media (max-width: 600px) {
  .home .page-content-inner {
    .recent-posts-wrap .recent-posts .recent-post{
      width: 100%;
      margin-bottom: 20px;
    }
    .spb_image_single_widget{
      width: 100%;
      margin-bottom: 15px;
    }
  }

  .home .page-content-inner {
    .item-category{
      margin-bottom: 0;
    }
  }
  .category_widget .item-category .title-category{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .band-client .sidebar-ad-grid{
    ul{
      padding-left: 0;
      padding-right: 0;
      >li{
        margin: 0;
        display: block;
        text-align: center;
        width: 100%;
        max-width: none;
        min-height: 0;
      }
    }
  }
}
@media (max-width: 479px) {
  .form-book-mobile .form-row .wpcf7-form-control-wrap.hebergement .wpcf7-list-item{
    &:nth-child(2n+1){
      clear: both;
    }
  }
  .tax-testimonials-category .page-content-inner .blog-wrap .testimonial-items .brand-item .testimonial-wrap .ts-mail,
  .tax-testimonials-category .page-content-inner .blog-wrap .testimonial-items .brand-item .testimonial-wrap .information-tesimonial{
    width: 100%;
  }
  .single-responsibility .responsibility-wrap .blog-wrap li.media-responsibility{
    .category-img{
      display: block;
      width: 100%;
      padding: 0 0 15px;
      .img-des-category{
        width:100%;
        height: auto;
        @include border-radius(0);
      }
    }
  }
  .tax-responsibility-category{
    .page-content-inner{
      .blog-wrap{
        li.media{
          .category-img{
            width: 100%;
            display: block;
            padding: 0 0 15px;
          }
          .media-body{
            overflow: visible;
          }
        }
      }
    }
  }
  .tax-brand-category .page-content-inner .blog-items .brand-item,
  .tax-book-category .page-content-inner .book-items .brand-item{
    .brand-img{
      border: none;
    }
    .mini-brand-item-wrap,
    .mini-book-item-wrap{
      padding-top: 0;
    }
    figure{
      padding: 0 15px 0 0;
    }
    .brand-details-wrap{
      padding-top: 0;
      padding-left: 0;
      overflow: visible;
    }
  }
  .tax-embassies-category .page-content-inner .embassies-items .brand-embassies {
    figure{
      width: 100%;
    }
    .title{
      padding: 10px 0;
    }
  }
  .page-template-page-about-us .page-content-inner .content-page-category li.media{
    a{
      display: block;
    }
    .category-img{
      padding: 0;
      text-align: center;
      display: block;
    }
    .img-des-category{
      width: auto;
      max-width: 100%;
    }
    .title-des-category{
      padding: 15px 0 5px;
      margin-bottom: 0;
    }
  }
  .single-aboutus .archive-post .article-body-wrap .media-wrap-aboutus img{
    width: 100%;
    margin-right: -10px;
    margin-left: -10px;
  }
  .spb_text_introduce_widget .content.align_left,
  .spb_text_introduce_widget .content.align_right{
    width: 80%;
  }
  .spb_call_text{
    height: calc( 100% - 30px );
    height: -webkit-calc( 100% - 30px );
    height: -moz-calc( 100% - 30px );
    height: -ms-calc( 100% - 30px );
    > p{
      text-align: left !important;
    }
    + .ct-button.accent{
      position: static;
    }
  }
}
@media (max-width: 359px) {
  .header-wrap #top-bar .text-header .tb_certer_header{
    font-size: 14px;
  }
}
/* --------------------------------------------
	End Modify at 09/12/2015
	@author by choijun
-------------------------------------------- */
#footer-wrap {
    .security-container {
        .security-row{
          margin-left: 0px;
          margin-right: 0px;
          margin-top: 20px; 
          margin-bottom: 20px;
          .security-sub-row {
            background: #fff; 
            margin-left: 0px; 
            margin-right: 0px; 
            padding: 15px;
            .security-img {
              margin-bottom: 10px;
              img {
                max-height: 170px;
                min-height: 110px;
                height: 110px;
              }
            }
            .security-title {
              font-size: 20px; 
              color: #0C7B4A;
              max-height: 55px;
              overflow: hidden;
            }
          }
        }
    }
}